/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
	
.identity {
	height: 40px;
}

 .username {
	display: block;
	font-size: 14px;
	color: #999;
	padding: 10px 15px 10px 15px;
	line-height: 20px;
	
	&:hover, &:active, &:visited {
		color: white;
		text-decoration: none;
	}
}

.user {
	width: 50px;
	height: 50px;
	margin: 10px;
	
	border: 1px solid #aaa;
	border-radius: 25px;

	img {
		width: 50px;
		height: 50px;

		border: 1px;
		border-radius: 25px;	
	}
	
	i {
		font-size: 40px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		padding-left: 10px;
	}
}

#chat-list {
	width: 400px;
	
	span.from {
		margin-right: 20px;		
	}
}
