/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$primary: #3d594a;

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }

.fill {
	position: absolute;
	
	top: 40px;
	bottom: 0px;
	
	width: auto;
	height: auto;
}

#app {
	position: absolute;
	
	top: 40px;
	bottom: 0px;
	
	width: 1170px;
	left: 50%;
	margin-left: -585px;
}

#top {
	position: absolute;
	padding-top: 10px;
	background-color: white;
	padding-bottom: 30px;
}

#main-right {
/*	border: 1px solid green;*/
	height: 100%;
	background-color: #eeeeee;
}

#main-left {
	height: 100%;
}

#main {
/*	border: 1px solid purple;*/
	height: 100%;
/*	background-color: #eee;*/
}

	
.identity {
	height: 40px;
}

 .username {
	display: block;
	font-size: 14px;
	color: #999;
	padding: 10px 15px 10px 15px;
	line-height: 20px;
	
	&:hover, &:active, &:visited {
		color: white;
		text-decoration: none;
	}
}

.user {
	width: 40px;
	height: 40px;
	margin: 5px;
	
	border: 1px solid #c9c8c8;
/*	border-radius: 25px;*/
	
	background-color: white;
	
	float: left;
	
	overflow: hidden;

	img {
		width: 40px;
		height: 40px;

/*		border-radius: 20px;	*/
	}
	
	i {
		font-size: 40px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		padding-left: 10px;
	}
}

#session-list {	
	ul, li {
		margin: 0px;
	}
}

.session {
/*	overflow: hidden;*/
	background-color: #e6e7e6;
	position: relative;
	
	h3 {
		background-color: $primary;
		color: white;
		margin: 0px;
		
		font-weight: normal;
		font-size: 1.3em;
		
		padding: 0px 10px 0px 10px;
		
		i {
			margin-right: 5px;
		}
		
		position: absolute;
		right: 0px;
		left: 0px;
		
		height: 40px;
	}
	
	.description {
		padding: 5px;
		margin-top: 40px;
	}
	
	.btn {
/*		width: 100%;*/
/*		background-color: #4c4c4c;*/
		color: white;
		border-radius: 0px;
		
		position: absolute;
		right: 0px;
		left: 0px;
	}
	
	.attending {
		height: 50px;
		padding: 5px;
		
		.first {
			width: 50px;
			height: 50px;
			background-color: #c9c8c8;
			
			float: left;
		}
		
		.counter {
			background-color: #c9c8c8;
			
			width: 10px;
			height: 50px;
			
			margin-left: 5px;
			float: left;
			
			&.selected {
				background-color: $primary;
			}
			
			
		}
	}
	
}

#chat {
	position: absolute;
	padding-bottom: 25px;
	bottom: 0px;
	
	input {
		position: absolute;
		bottom: 0px;
	}
}

#chat-list-container {
	
	.chat-message {
		
		padding-left: 100px;
		
		span.from {
			margin-left: -120px;
			float: left;
			display: block;	
			font-weight: bold;
		}
	}
	
}
