/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$primary: #2F3732;
$background: #c9c8c8;
$background-light: #f5f5f5;

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }

.admin-header {
	width: 100%;
	height: 5px;
	background-color: orange;
	
	position: absolute;
	top: 0px;
	z-index: 2000;
}

.fill {
	position: absolute;
	
	top: 40px;
	bottom: 0px;
	
	width: auto;
	height: auto;
}

#app {
	position: absolute;
	
	top: 40px;
	bottom: 0px;
	width: 940px;
}

#top {
	position: absolute;
	background-color: white;

	box-shadow: 3px 3px 3px #aaa;
	border: 1px solid #aaa;

	box-sizing: border-box;

	z-index: 50;
	left: 0px;
	right: 0px;
	top: -400px;


	height: 400px;

	padding: 10px;
}

#top-left {
	position: absolute;
/*	padding-top: 30px;
	padding-bottom: 60px;
	padding-right: 30px;
*/	

	/*top: -250px;*/

	background-color: white;
	/*box-shadow: 1px 1px 1px #bbb;*/
	/*border: 1px solid #aaa;*/
	z-index: -10;

	height: 210px;

	/*width: 720px;*/
	/*max-height: 400px;*/
	/*overflow-y: scroll;*/

	box-shadow: 3px -5px 3px #aaa;
	border-right: 1px solid #aaa;
	box-sizing: border-box;

	&.bar {
		top: 40px;
	}
}

#main-right {
	position: absolute;
	height: 100%;

	box-sizing: border-box;
	background-color: $background-light;
	padding-left: 10px;

	z-index: 10;

	right: 20px;
	left: 440px;

	// &.bar {
	// 	top: 40px;
	// }

	overflow: hidden;
}

#main-left {
	position: absolute;

	box-sizing: border-box;

	border-right: 1px solid #aaa;
	box-shadow: 3px 3px 3px #aaa;

	z-index: 20;

	bottom: 0px;
	top: 0px;

	overflow: hidden;

	&.bar {
		top: 40px;
	}

}

#main {
/*	border: 1px solid purple;*/
	height: 100%;
/*	background-color: #eee;*/
}

#presence-gutter {
	width: 58px;

	position: absolute;
	top: 0px;
	padding: 5px;
	right: 0px;
	bottom: 0px;

	// overflow-y: auto;
	overflow-x: visible;

	ul {
		margin: 0px;
	}

	border-left: 1px solid #aaa;
	box-shadow: -3px 0px 3px #aaa;
	background-color: white;

	.tooltip-inner {
		white-space: nowrap;
	}

	.tooltip {
		left: -70px !important;
	}

	#user-list {
		overflow-y: visible;
		overflow-x: visible;
	}

	.header {
		width: 100%;
		background-color: $primary;
		text-align: center;
		margin-left: -5px;
		margin-right: -5px;
		margin-top: -5px;

		color: white;
		font-weight: bold;

		.icon-user {
			margin-left: 3px;
		}

		margin-bottom: 5px;
	}

	.pageUp, .pageDown {
		background-color: $primary;
		color: white;
		width: 40px;
		text-align: center;
		border-radius: 5px;
		height: 15px;

		cursor: pointer;

		&:hover {
			background-color: lighten($primary, 10);
		}

		&:active {
			background-color: darken($primary, 10);
		}
	}

	.pageDown {
		position: absolute;

		bottom: 3px;

		clear: left;
		padding-top: -5px;

		i {
			position: relative;
			top: -5px;
		}
	}
}

.nav {
	li.active > a{
		background-color: #444 !important;
	}
}
	
.identity {
	height: 40px;
	width: 200px;

	& > div {
		float: right;
	}

	.admin-button:hover, .admin-button:visited, .admin-button:active {
		color: orange;
	}
}

 .username, .admin-button {
	display: block;
	font-size: 14px;
	color: #999;
	padding: 10px 15px 10px 15px;
	line-height: 20px;
	
	&:hover, &:active, &:visited {
		color: white;
		text-decoration: none;
	}
}

.user {
	width: 40px;
	height: 40px;

	margin-top: 5px;
	
	border: 1px solid $background;
	box-sizing: border-box;
	
	background-color: white;
	
	float: left;
	
	overflow: hidden;

	&.admin {
		border: 3px solid $background;
		border-color: orange;

		img {
			position: relative;
			// top: -3px;
		}
	}

	img {
		width: 40px;
		// height: 40px;
	}
	
	i {
		font-size: 40px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		padding-left: 5px;
	}

	&.blur {
		opacity: 0.4;
	}

	&.focus {
		opacity: 1.0;
	}
}

#session-list {	
	padding-top: 10px;

	ul, li {
		margin: 0px;
	}

	p {
		margin-left: 20px;
	}

	.full-size-container {
		top: 10px;
	}

	.footer {
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		width: 200px;

		clear: left;

		div {
			float: left;
			color: black;
				padding: 5px;

			&:hover {
				cursor: pointer;
				background-color: #ddd;
			}

			&.active {
				border: 1px solid #aaa;
			}

			&.page {
				margin-left: 5px;
				margin-right: 5px;
			}
		}
	}
}

.session {
	// background-color: #e6e7e6;
	position: relative;

	// margin-bottom: 5px;


	box-sizing: border-box;
	
	// border: 2px solid $primary;
	// border-bottom: 1px solid #ddd;

	width: 430px;
	height: 40px;

	&.hangout-connected {
		height: 80px;

		.hangout-users {
			position: absolute;
			top: 40px;
			left: 0px;
			right: 0px;
			height: 40px;

			padding-left: 5px;

			.user {
				float: left;
				margin-right: 5px;
				width: 30px;
				height: 30px;

				list-style: none;
			}
		}
	}

	float: left;

	margin-left: 20px;

	padding: 5px;

	.label {
		margin-left: 5px;
	}

	h3 {
		// background-color: $primary;
		// color: white;
		color: $primary;
		margin: 0px;
		
		font-weight: normal;
		font-size: 1.0em;

		line-height: 15px;

		// padding: 10px 10px 5px 10px;
		
		i {
			margin-right: 5px;
		}
		
		left: 0px;
		
		height: 40px;

		width: 260px;
	}
	
	.description {
		padding: 5px;
	}
	
	.attend.btn {
		color: white;
		border-radius: 0px;
		
		position: absolute;
		top: 4px;
		right: 0px;

		height: 23px;

		width: 100px;
	}
	.empty {
		height: 40px;
		text-align: center;
		color: #aaa;
		font-style: italic;
		padding-top: 20px;
	}

	.started.label {
		margin-left: 5px;
	}

	&.live {
		&:nth-child(odd) {
			background-color: #ECFFF0;

		}

		&:nth-child(even) {
			background-color: #D5EBD9;
		}
	}
	
	&:nth-child(odd) {
		background-color: #efefef;

	}

	&:nth-child(even) {
		background-color: white;
	}

	.attending {
		height: 50px;
		padding: 5px;
		padding-top: 15px;
		
		.first {
			width: 50px;
			height: 50px;
			background-color: $background;
			
			float: left;
			
			.user {
				margin: 0px;
				width: 50px;
				height: 50px;
				
				border: 0px;
				
				img, i {
					width: 50px;
					height: 50px;
					line-height: 50px;
				}
				
				i {
					margin-left: 5px;
				}
				
			}
		}
		
		.counter {
			background-color: $background;
			
			width: 12px;
			height: 50px;
			
			margin-left: 5px;
			float: left;
			
			&.selected {
				background-color: $primary;
			}
		}
		
		.full {
			background-color: #F85863;
			color: white;
			float: left;
			width: 42px;
			height: 35px;
			
			padding-left: 8px;
			padding-top: 15px;
			
			margin-left: 5px;
		}
	}
	
	.admin-buttons {
		position: absolute;


		right: 0px;
		top: 4px;

		height: 33px;
		
		.btn {
			border-radius: 0px;
			top: 0px;
			bottom: 0px;
			position: absolute;
			right: 0px;

			padding-left: 5px;
			padding-right: 5px;
		}
	}

	.outer {
		position: relative;
		z-index: 10000;

		.attend-count {
			margin-left: 5px;
		}
	}

	.attendance {
		position: absolute;
		top: -1px;
		left: 0px;
		height: 32px;
		width: 50%;
		background-color: rgba(66, 94, 97, 0.5);
	}
}


.full-size-container {
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		position: absolute;		
}

#chat-input-region {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 55px;

		width: 370px;
		height: 35px;

		padding-left: 10px;

		background-color: $background-light;

		input {
			width: 360px;
		}
}

#chat {
	overflow-y: hidden;
	overflow-x: visible;

	
	#chat-container {
		padding-left: 5px;

		bottom: 40px;
		margin-left: 0px;

		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 75px;
		overflow-y: auto;

		#chat-list-container {
			height: auto;
			width: auto;

			margin: 0px 0px 45px 0px;

			.chat-message {

				padding-left: 120px;

				&.system {
					text-align: center;
					font-style: italic;

					padding-left: 0px;
					padding-bottom: 10px;
					padding-top: 10px;

					margin-left: 20px;
					margin-right: 20px;
					margin-bottom: 20px;

					border-bottom: 1px solid #aaa;
					.from {
						display: none;
					}
				}

				span.from {
					margin-left: -120px;
					float: left;
					display: block;	
					font-weight: bold;

					&.admin {
						color: orange;					
					}
				}
			}
		}
	}
}

#global {
	position: absolute;
	z-index: 1000;
}

#video-embed {
	position: absolute;
	left: 0px;
	right: 0px;
	/*padding-top: 50px;*/
	
	/*box-shadow: 3px 3px 5px #aaa;*/
		
	.player {
		background-color: #aaa;
		width: 100%;
	}
}

#bar {
	position: absolute;
	top: 0px;

	left: 0px;
	right: 0px;

	height: 30px;
	background-color: #efefef;

	padding: 5px;

	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;

	z-index: 500;

	#session-live-bar {
		width: 400px;
		margin-left: auto;
		margin-right: auto;

		div {
			float: left;
			font-weight: bold;
			font-size: 1.6em;
			padding-top: 5px;
		}

		.btn {
			float: left;
			margin-left: 15px;
		}
	}


	box-shadow: 3px 3px 3px #aaa;
}

/*---------------------------- ADMIN STYLES ---------------------------*/


#events {
	float: left;
}

#permalinks {
	float: left;
	margin-left: 50px;
}

th {
	padding-right: 20px;
}

tr:nth-child(even) {
	background-color: #f1f1f1;
}


/*---------------------------- INDEX STYLES ---------------------------*/
.jumbotron {
	color: white;
	background-image: url('/public/img/dots.png');
	height: 200px;
	width: 100%;

	background-size: 1400px;
	margin-top: -20px;

	h1 {
		padding-top: 75px;
		margin-top: 0px;
	}

	h1,  h3{
		width: 940px;
		margin-left: auto;
		margin-right: auto;
	}
}

.event {
	.title, .description {
		float: left;
	}

	.title {
		font-weight: bold;
		font-size: 1.6em;
	}

	.description {
		width: 800px;
	}

	.date {
		float: left;
		width: 100px;
		margin-right: 20px;

		.day, .time {
			text-align: center;
			background-color: $primary;
			color: white;
			padding: 3px;
		}

		.number {
			box-sizing: border-box;

			color: $primary;
			font-size: 3em;
			font-weight: bold;
			text-align: center;
			height: 50px;
			padding-top: 15px;
			border-right: 1px solid $primary;
			border-left: 1px solid $primary;
		}

		.time {
			background-color: $primary;
			color: white;
		}
	}
}

#about-event {
	.footer {
		color: #ccc;
		width: 400px;
		margin-left: auto;
		margin-right: auto;

		font-style: italic;
	}
}

.admin-table-buttons {
	.btn {
		float: left;
		margin-top: 5px;
	}
}

.footer {
	margin-top: 50px;
	color: #aaa;
}

#permalink-create {
	label {
		width: 250px;
	}
}
