lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml
*.rdb
*.swp
*.pyc

pids
logs
results

npm-debug.log

node_modules

.DS_Store

# ignore conf.json, so we can safely keep settings in there.
conf.json
# ignore fabfile, to avoid sharing production details
fabfile.py
# for auto-farming
farmingConf.json
# For load simulation
simulatorConf.js
# ignore ssl, to ensure we never check certs in.
ssl/

.sass-cache
.idea
bin/selenium-server-standalone.jar
# ignore files compiled by .styl
public/css/screen.css
public/css/facilitator.css
public/build

