lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml
*.rdb
*.swp

pids
logs
results

npm-debug.log

node_modules

.DS_Store

# ignore conf.json, so we can safely keep settings in there.
conf.json
# ignore ssl, to ensure we never check certs in.
ssl/

.sass-cache
.idea
bin/selenium-server-standalone.jar
