{
	"UNHANGOUT_GOOGLE_CLIENT_ID":"client_id",
	"UNHANGOUT_GOOGLE_CLIENT_SECRET":"secret",
	"UNHANGOUT_SESSION_SECRET":"sessionsecret",

	"UNHANGOUT_PORT":7777,
	"UNHANGOUT_HOST":"localhost",

	"UNHANGOUT_REDIS_HOST":"localhost",
	"UNHANGOUT_REDIS_PORT":6379,
	"UNHANGOUT_REDIS_DB":0,

	"UNHANGOUT_ADMIN_EMAILS": ["user1@example.com", "user2@example.com"],

	"UNHANGOUT_HANGOUT_APP_ID":123456789012,

	"UNHANGOUT_USE_SSL":false,
	"UNHANGOUT_REDIRECT_HTTP":true,
	"UNHANGOUT_PRIVATE_KEY":"ssl/private.pem",
	"UNHANGOUT_CERTIFICATE":"ssl/cert.pem"
}