{
    "UNHANGOUT_GOOGLE_CLIENT_ID":"client_id",
    "UNHANGOUT_GOOGLE_CLIENT_SECRET":"secret",
    "UNHANGOUT_SESSION_SECRET":"sessionsecret",
    "UNHANGOUT_EVENTS_SPREADSHEET": "... google spreadsheet key ...",

    "UNHANGOUT_PORT":7777,
    "UNHANGOUT_HOST":"localhost",

    "UNHANGOUT_REDIS_HOST":"localhost",
    "UNHANGOUT_REDIS_PORT":6379,
    "UNHANGOUT_REDIS_DB":0,

    "UNHANGOUT_SMTP": {
        "host": "localhost",
        "port": "2525",
        "secureConnection": false
    },

    "UNHANGOUT_SERVER_EMAIL_ADDRESS": "node@yourserver.example.com",

    "UNHANGOUT_SUPERUSER_EMAILS": ["user1@example.com", "user2@example.com"],
    "UNHANGOUT_MANAGERS": ["manager1@example.com"],

    "UNHANGOUT_HANGOUT_APP_ID": 123456789012,
    "UNHANGOUT_HANGOUT_ORIGIN_REGEX": "^https://[-a-z0-9]+hangout-opensocial.googleusercontent.com$",

    "UNHANGOUT_USE_SSL":false,
    "UNHANGOUT_REDIRECT_HTTP":false,
    "UNHANGOUT_PRIVATE_KEY":"ssl/private.pem",
    "UNHANGOUT_CERTIFICATE":"ssl/cert.pem",

    "EMAIL_LOG_RECIPIENTS": ["sysadmin1@example.com"],
    "UNHANGOUT_LOG_DIR": "logs",
    "UNHANGOUT_HANGOUT_URLS_WARNING": 10,
    "TESTING_SELENIUM_PATH": "bin/selenium-server-standalone.jar",
    "TESTING_SELENIUM_VERBOSE": false,
    "TESTING_FIREFOX_BIN": null,
    "MANDRILL_API_KEY": "...mandrill api key...",

    "CUSTOM_CSS_FILES": [],
    "CUSTOM_FACILITATOR_CSS_FILES": []
}
