<% if(userData[participantIndex].users.length > 0) { %>
<br/>
<% } %>

We look forward to your participation in our upcoming events!<br /> <br />

<em style="color:rgb(34, 34, 34); font-family:arial,sans-serif; font-size:12.7272720336914px; line-height:normal">Copyright &copy; 2014 MIT Media Lab, All rights reserved.</em>

<br/><br/>

<span style="color:rgb(96, 96, 96); font-family:helvetica; font-size:10.9px; line-height:13.75px">You are receiving this email, because you either signed up or participated in the Media Lab Unhangout events.&nbsp;
</span>

<br/></br/>

<strong style="color:rgb(34, 34, 34); font-family:arial,sans-serif; font-size:13px; line-height:normal">Our mailing address is:</strong>

<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.7px; line-height: normal;">MIT Media Lab
<div>
<div>77 Mass. Ave.</div>
<div>E14-445</div>
Cambridge,&nbsp;MA&nbsp;
<a href="tel:02139-4307" style="color: rgb(17, 85, 204); word-wrap: break-word;" target="_blank" value="+4921394307">02139-4307
</a>

<br />
&nbsp;

</div>
</div>

<a class="utilityLink" href="*|UNSUB|*">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;<a class="utilityLink" href="*|UPDATE_PROFILE|*">update subscription preferences</a>&nbsp; 