<h1 style="margin: 0px; font-size:24px; font-weight: 500;"><%= event.get("title") %></h1>

<h2 style="font-size:18px; font-weight: 500;">
Dear <%= userData[participantIndex].user.getShortDisplayName() %>,
<br />
</h2>

<p>You recently participated in the <b><%= event.get("title") %></b>
Unhangout along with other people from all around the world! 

<% if(userData[participantIndex].users.length > 0) { %>  
    <br/><br/>
    Say hello to people you interacted with in the event on their favored method of contact. People who you <strong>chatted with</strong> in the <strong>breakout</strong>:<br />
<% } %>

</p>