    <% if(user && user.isAdminOf(event)) {%>
        <div class="admin-header">
        </div>
    <% } %>
    <div class="navbar navbar-inverse navbar-fixed-top event-navbar">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="brand" href="<%= event.getEventUrl() %>"><%= event.get("title") %></a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <% if (user) { %>
                            <li class="" id="about-nav">
                            <a href="#about-nav">About<span class="updated circle hide">&nbsp;</span></a>
                            </li>
                        <% } %>
                    </ul>

                    <div class="nav pull-left">
                        <div id="admin-region"></div>
                    </div>

                    <% include _identity.ejs %>

                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
