<!DOCTYPE html>
<!-- conditional comments to tag for old versions of ie. -->
<!--[if lte IE 9]> <html dir="ltr" lang="en-US" class="oldie"> <![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html dir="ltr" lang="en-US"><!--<![endif]-->
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%- typeof title != "undefined" ? title + " &mdash; powered by unhangout" : "Unhangout" %></title>
    <link rel="shortcut icon" href="/public/img/unhangout-favicon.png">

    <link href="/public/vendor/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/vendor/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
    <link href="/public/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet">

    <link href="/public/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">

    <script type="text/javascript">
        /*
        Define the authentication state used by socket identification and other
        stuff.  We define them here so that the javascript that uses them can
        be static, rather than dynamically loading these properties.

        Rather than accessing directly, these should be accessed by requiring
        `public/js/auth.js`, which handles localStorage assignment to help with
        loading frames in browsers that block 3rd-party cookies.
        */
        <% if (user) { %>
            window.UNHANGOUT_AUTH = <%- JSON.stringify({
                SOCK_KEY: user.getSockKey(),
                USER_ID: user.id,
                USER_NAME: user.get("displayName")
            }) %>;
        <% } else { %>
            window.UNHANGOUT_AUTH = null;
        <% } %>
        window.INITIAL_DATA_TIMESTAMP = <%- JSON.stringify(monotonic.timestamp()) %>;
    </script>
</head>
<body>
<div class='bad-browser-warning'>
    <div class='alert alert-warning'>
        <i class='fa fa-warning'></i> Your browser is out of date, and not supported &mdash; Unhangouts may not work as expected. Please <a href='http://browsehappy.com/'>Update your browser</a>!
        <a class='close' onclick='this.parentNode.parentNode.removeChild(this.parentNode);' title='Close'>
            <i class='fa fa-times'></i>
        </a>
    </div>
</div>
