<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/h/">Hangout Permalinks</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/h/">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
