<table border="0" cellspacing="2" width="90" style="border-collapse: separate; border-spacing: 5px;">
  
  <% var tdCount = 0; %>
  <% _.each(recipient.users || [], function(otherUser, index) { %>
      <% include _post_event_followup_email-otherparticipantsinfo.ejs %>
  <% }) %>

</table>

<% if(networkUsers.length > 0) { %>  

  <% for(var i=0; i < networkUsers.length; i++) { %>

  <% var nu = networkUsers[i] && networkUsers[i].get("preferredContact"); %>
  <% if(nu && !nu.noShare) { %>      
      <br/><br/>

      Below you’ll find the names of the participants you chatted with in the lobby, as well as their preferred methods of contact. 

      <% break %>
    <% } %>
  <% } %>

<% } %>

<table border="0" cellspacing="2" width="90" style="border-collapse: separate; border-spacing: 5px;">

  <% var tdCount = 0; %>
  <% _.each(networkUsers || {}, function(otherUser, index) { %>
  <% include _post_event_followup_email-otherparticipantsinfo.ejs %>
  <% }) %>

</table>