<% if(recipient.users.length > 0) { %>
<br/>
<% } %>

We hope to see you back on Unhangout soon. In the meantime, check out upcoming events on our <a href="http://unhangout.media.mit.edu" target="_blank">homepage</a><br /> <br />

Cheers, <br/>
The Unhangout Team <br/>
