<% include header.ejs %>
    <div class="container">
        <div class="section about-container" id="about">
            <h1>About</h1>

            <p><strong>Unhangout</strong> is an open source
            platform for running large scale online un-conferences.
            We use Google Hangouts to create as many small sessions
            as needed, and help users find others with shared
            interests.</p>

            <div class="modal hide fade disconnected-modal" id=
            "disconnected-modal">
                <div class="modal-header">
                    <h3>Warning!</h3>
                </div>

                <div class="modal-body">
                    <p>An unexpected error has occured. You have
                    been disconnected from the server. Please
                    refresh the page to reconnect.</p><a class=
                    "btn" href="#">Close</a>
                </div>
            </div>

            Think of it as a classroom with an infinite
            number of breakout sessions. Each event has a landing
            page, which we call the lobby. When participants
            arrive, they can see who else is there and chat with
            each other. The hosts can do a video welcome and
            introduction that gets streamed into the lobby.
            Participants then break out into smaller sessions (up
            to 10 people per session) for in-depth conversations,
            peer-to-peer learning, and collaboration on projects.
            UnHangouts are community-based learning instead of
            top-down information transfer.
            <p>

            <h3>Open Source</h3>

            <p><strong>Unhangout</strong> is an open source
            project. You can find the code in <a href=
            "https://github.com/drewww/unhangout">our repository on
            GitHub</a>. Please let us know if you're interested in
            hosting your own unhangout events - we would be happy
            to help you get this set up on your own servers. In
            some situations, we might be able to host your event on
            our installation, too.</p>

            <p></p>

            <h3>The Team</h3>

            <p>Our four person design and development team is
            based at the MIT Media Lab in Cambridge, MA.</p>


            <div class="participant-info">
    
                <a href="http://www.media.mit.edu/people/ps1" target="blank">
                <img src="http://sharing-nicely.net/wp-content/uploads/2009/12/philipp_bw.jpg">
                </a>

                <span class="overlay">Philipp Schmidt</span>

                <a href="http://web.media.mit.edu/~dharry" target="blank">
                <img src="http://web.media.mit.edu/~dharry/drew_close_square_small.jpeg">
                </a>

                <span class="overlay">Drew Harry</span>
                    
                <a href="http://tirl.org/" target="blank">
                <img src="http://web.media.mit.edu/~cfd/img/charlie_head_square.jpeg">
                </a>
             
                <span class="overlay">Charlie DeTar</span>

                <a href="http://srishtisethi.com" target="blank">
                <img src="https://lh6.googleusercontent.com/-tzKiNJGIwys/AAAAAAAAAAI/AAAAAAAACCk/eJ7fVGxtBBA/photo.jpg">
                </a>
             
                <span class="overlay">Srishti Sethi</span>

                <br/><br/>
            </div>

            <h3>Acknowledgements</h3>

            <p><strong>Unhangout</strong> is made possible by the
            generous support of the <a href="http://www.macfound.org/">MacArthur Foundation</a> and the
            <a href="http://media.mit.edu">MIT Media Lab.</a></p>

            <% include sponsorship.ejs %>
        </div>
    </div>

<% include analytics.ejs %>
<% include footer.ejs %>
            
