<% include _header.ejs %>
<% include _navbar.ejs %>

<style type='text/css'>
    label.success {
        background-color: #efe;
    }
    label.error {
        background-color: #fee;
    }
    .icon-trash.remove-event {
        cursor: pointer;
    }
</style>
<script>
    document.querySelector("#admin-users-nav").className = "active";
</script>

<div id='app'>
    <div id='main'></div>
</div>

<script type='text/template' id='user-table'>
    <div class='container users-container'>
        <h3>Users</h3>
        
        <form class='form-horizontal'>
            
            <div class="form-group">
                <label class="control-label col-lg-1" style="text-align: left;">Filter: </label>
            
                <div class="col-lg-3">
                    <input class='filter-name form-control' type='text' placeholder='Name or email' />
                </div>

                <label class="checkbox col-lg-2">
                    <input class="filter-superusers" type="checkbox"> Superusers
                </label>

                <label class="checkbox col-lg-1">
                    <input class="filter-admins" type="checkbox"> Admins
                </label>

                <div class="col-lg-2">
                    <select class="filter-perms form-control">
                        <option value=''>Permission:</option>
                        {{ _.each(permissions, function(perms) { }}
                            <option value='{{- perms[0] }}'>{{- perms[1] }}</option>
                        {{ }); }}
                    </select>
                </div>
            </div>
        </form>

        <table style='width: 100%;' class='user-table'>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Emails</th>
                    <th>Superuser?</th>
                    <th>Permissions</th>
                    <th>Event admin</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class='result-count'></div>
    </div>
</script>

<script type='text/template' id='user-result-count'>
    <p>Showing {{- Math.min(limit, totalCount) }} of {{- totalCount }} Results.</p>
    {{ if (limit < totalCount) { }}
        <p><button class='show-more'>Show more</button></p>
    {{ } }}
</script>

<script type='text/template' id='user-row'>
    <td class='name'>{{- displayName }}</td>
    <td class='emails'>
        {{ _.each(emails, function(email) { }}
            <a href='mailto:{{- email.value }}'>{{- email.value }}</a>
        {{ }); }}
    </td>
    <td class='superuser'>
        <label class='inline'>
            Superuser:
            <input type='checkbox' class='superuser'
                {{- superuser ? "checked='checked'" : "" }} />
        </label>
    </td>
    <td class='permissions'>
        {{ user.eachPerm(function(key, val, label) { }}
            <label class='inline'> {{- label }}
                <input type='checkbox' class='perm' data-perm='{{- key }}'
                    {{- val ? "checked='checked'" : "" }} />
            </label>
        {{ }); }}
    </td>
    <td class='admins'>
        {{ _.each(adminEvents, function(event) { }}
            <div>
                <a href='/admin/event/{{- event.id }}'>{{- event.title }}</a>
                <span class='icon icon-trash remove-event'
                      title='Remove event'
                      rel='tooltip'
                      data-user-id='{{- id }}'
                      data-event-id='{{- event.id }}'></span>
            </div>
        {{ }); }}
        <div>
            <a href='#' class='add-event'><span class='icon icon-plus-sign'></span> Add event</a>
        </div>
    </td>
</script>
<script type='text/template' id='event-admin-adder'>
   
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add admin</h4>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-group col-lg-8">
                                Choose an event for {{- user.get("displayName") }} to administrate:
                            </label>

                            <div class="col-lg-4">
                                <select name='event' class="form-control">
                                    {{ events.each(function(event) { }}
                                        <option value='{{- event.id }}'>{{- event.get("title") }}</option>
                                    {{ }); }}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <div class='modal-footer'>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="button" class="btn btn-primary add" data-dismiss="modal">Add</button>
                </div>
            </div>  
        </div>
   
    <!--<div class='modal-header'>
         <button type="button" class="close cancel" aria-hidden="true">&times;</button>
         <h3>Add admin</h3>
    </div>
    <div class='modal-body'>
        Choose an event for {{- user.get("displayName") }} to administrate:
        <select name='event'>
            {{ events.each(function(event) { }}
                <option value='{{- event.id }}'>{{- event.get("title") }}</option>
            {{ }); }}
        </select>
    </div>
    <div class='modal-footer'>
        <a href='#' class='btn cancel'>Cancel</a>
        <a href='#' class='btn btn-primary add'>Add</a>
    </div>-->
</script>

<script type='text/javascript'>
    var USER_DATA = <%- JSON.stringify(users) %>;
    var EVENT_DATA = <%- JSON.stringify(events) %>;
</script>

<%- requireScripts("/public/js/admin-users.js") %>
<% include _footer.ejs %>
