Hello, <br/> <br/>

<%= adminInviterName %> (<a href="<%= adminInviterEmail %>"><%= adminInviterEmail %></a>) would like to invite you to be the administrator for <%= eventTitle %> Unhangout. <br/> <br/>

Please login to the <a href="https://unhangout.media.mit.edu/ target="_blank">Unhangout platform </a> with your Google Account and let them know.
 <br/><br/>

Cheers, <br/>
The Unhangout Team