<% include _header.ejs %>

<div class="container">
    <div class="col-lg-3"></div>

    <div class="col-lg-6 contact-info-container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="logo col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="/public/img/unhangout-logo-blue-full.png">
            </div>
        </div>

        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p><strong>Keep the conversation going, and build up your peer learning network! </strong> <br/><br/>
            We'll automatically send you an email with the interesting people you talked with today, and let them know that they talked with you. <br/> <br/>

            We'll never share your contact information with people outside the event.

            </p>
        </div>  

        <div class="col-lg-12">

            <form class="form-horizontal">
                <div class="form-group">
                
                    <div class="col-lg-12">
                        <label class="control-label contact-label">
                        Tell us your preferred method of contact:
                         </label>
                    </div>

                </div>

                <div class="form-group">
                
                    <div class="col-lg-3 col-md-3 col-xs-4 col-sm-3">
                        <select class="col-lg-3 col-md-3 col-sm-3 col-xs-4 form-control">
                          <option>Email</option>
                          <option>Twitter</option>
                          <option>LinkedIn</option>
                        </select>
                    </div>


                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                        <input class="form-control" type="text" name="session_name" value="" id="session_name" placeholder="<%= user.get("emails")[0].value %>">
                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox"> I'd prefer to share my info
                        </label>
                    </div>
                </div>

                <div class="form-group">  
                    <div class="col-lg-3 col-md-3 col-xs-4 col-sm-3">       
                        <button type="button" class="btn btn-primary submit-contact-form" data-dismiss="modal">Submit</button>
                    </div>
                </div>

            </form>

        </div>

        

    </div>
    
    <div class="col-lg-3"></div> 
</div>

<%- requireScripts("/public/js/contact_info.js") %>