<h2 class="null"><span style="font-size:17px"><span style="font-family:arial,helvetica neue,helvetica,sans-serif"><span style="line-height:normal">Dear Learner,</span></span></span><br />
&nbsp;</h2>

<p><span style="font-family:arial,helvetica neue,helvetica,sans-serif"><span style="font-size:14px"><span style="line-height:normal">You recently participated in the &quot;</span></span></span>
<%= eventTitle %>
<span style="font-family:arial,helvetica neue,helvetica,sans-serif"><span style="font-size:14px"><span style="line-height:normal">&quot; Unhangout along with 90 other people from all around the world!&nbsp;<br />
<br />
Say hello to people you interacted with in the event on their favored method of contact.&nbsp;<br />
<br />
People who you <strong>chatted with</strong> in the <strong>breakout</strong>:&nbsp;<br />

<br/>

<table border="0" cellpadding="0" cellspacing="0" width="122">
    <tr>
    <!-- First row -->
        <td align="left" valign="top" style="border: 2px solid white">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center" valign="top">
                        <img align="none" height="122" src="https://gallery.mailchimp.com/e595898d31c1f2db261ad60d7/images/d109afbc-83ac-47a4-8eee-c8ff67df780b.png" style="width: 124px; height: 122px; margin: 0px;"/> 
                    </td>
                </tr>

                <tr>
                    <td align="left" valign="top" style="color: black; background-color: #f2f2f2; font-family:Helvetica, Arial, sans-serif; font-size:16px; padding-top: 10px; padding-left: 5px; padding-right: 5px; text-align:left;">
                        Jackie Chau
                    </td>
                </tr>

                <tr>
                    <td align="left" valign="top" style="color: black; font-family:Helvetica, Arial, sans-serif; font-size:16px; padding-top: 5px; padding-bottom: 5px; padding-right: 5px; padding-left: 5px; padding-right: 5px; text-align:left; background-color: #f2f2f2;">
                        <img height="19" src="https://gallery.mailchimp.com/e595898d31c1f2db261ad60d7/images/b3cb604c-01c1-44d7-b4fb-eb998d66a1d6.png" style="opacity: 0.9; width: 23px; margin: 0px; padding-right: 5px;" width="23" /> 

                        <img height="19" src="https://gallery.mailchimp.com/e595898d31c1f2db261ad60d7/images/c68761d1-2a0a-47c7-ab4f-e237daacdcde.png" style="opacity: 0.9; width: 22px; margin: 0px; padding-right: 5px;" width="21" /> 

                        <img height="22" src="https://gallery.mailchimp.com/e595898d31c1f2db261ad60d7/images/6424d3ae-2249-4270-9fb7-ff754bf7a191.png" style="opacity: 0.9; width: 22px; margin: 0px; padding-right: 5px;" width="23" /> 
                    </td>
                </tr>

            </table>

            <!-- End first row -->
        </td>

        <!-- Second row start -->
        <td align="left" valign="top" style="border: 2px solid white">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center" valign="top">
                        <img align="none" height="122" src="https://gallery.mailchimp.com/e595898d31c1f2db261ad60d7/images/5b695998-e855-4e55-b550-786fdca7fd08.png" style="width: 124px; height: 122px; margin: 0px;"/> 
                    </td>
                </tr>

                <tr>
                    <td align="left" valign="top" style="color: black; font-family:Helvetica, Arial, sans-serif; font-size:16px; padding-top: 10px; padding-left: 5px; padding-right: 5px; text-align:left; background-color: #f2f2f2;">
                        David Hill
                    </td>
                </tr>

                <tr>
                    <td align="left" valign="top" style="color: black; font-family:Helvetica, Arial, sans-serif; font-size:16px; padding-top: 5px; padding-bottom: 5px; padding-right: 5px; padding-left: 5px; padding-right: 5px; text-align:left; background-color: #f2f2f2;">
                        <img height="19" src="https://gallery.mailchimp.com/e595898d31c1f2db261ad60d7/images/b3cb604c-01c1-44d7-b4fb-eb998d66a1d6.png" style="opacity: 0.9; width: 23px; margin: 0px; padding-right: 5px;" width="23" /> 

                        <img height="19" src="https://gallery.mailchimp.com/e595898d31c1f2db261ad60d7/images/c68761d1-2a0a-47c7-ab4f-e237daacdcde.png" style="opacity: 0.9; width: 22px; margin: 0px; padding-right: 5px;" width="21" /> 

                        <img height="22" src="https://gallery.mailchimp.com/e595898d31c1f2db261ad60d7/images/6424d3ae-2249-4270-9fb7-ff754bf7a191.png" style="opacity: 0.9; width: 22px; margin: 0px; padding-right: 5px;" width="23" /> 
                    </td>
                </tr>

            </table>
        </td>

        <!-- second row ends -->

        <!-- third row starts -->
        <td align="left" valign="top" style="border: 2px solid white">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center" valign="top">
                        <img align="none" height="122" src="https://gallery.mailchimp.com/e595898d31c1f2db261ad60d7/images/eaa9d5df-d09e-4ce9-8d5c-647a5f6110bb.png" style="width: 124px; height: 122px; margin: 0px;"/> 
                    </td>
                </tr>

                <tr>
                    <td align="left" valign="top" style="color: black; font-family:Helvetica, Arial, sans-serif; font-size:16px; padding-top: 10px; padding-left: 5px; padding-right: 5px; text-align:left; background-color: #f2f2f2;">
                        Christina Cantril
                    </td>
                </tr>

                <tr>
                    <td align="left" valign="top" style="color: black; font-family:Helvetica, Arial, sans-serif; font-size:16px; padding-top: 5px; padding-bottom: 5px; padding-right: 5px; padding-left: 5px; padding-right: 5px; text-align:left; background-color: #f2f2f2;">
                        <img height="19" src="https://gallery.mailchimp.com/e595898d31c1f2db261ad60d7/images/b3cb604c-01c1-44d7-b4fb-eb998d66a1d6.png" style="opacity: 0.9; width: 23px; margin: 0px; padding-right: 5px;" width="23" /> 

                        <img height="19" src="https://gallery.mailchimp.com/e595898d31c1f2db261ad60d7/images/c68761d1-2a0a-47c7-ab4f-e237daacdcde.png" style="opacity: 0.9; width: 22px; margin: 0px; padding-right: 5px;" width="21" /> 

                        <img height="22" src="https://gallery.mailchimp.com/e595898d31c1f2db261ad60d7/images/6424d3ae-2249-4270-9fb7-ff754bf7a191.png" style="opacity: 0.9; width: 22px; margin: 0px; padding-right: 5px;" width="23" /> 
                    </td>
                </tr>

            </table>
        </td>
        <!-- third row ends -->
    </tr>

</table>

<br />
People whom you <strong>talked to</strong> in the <strong>lobby</strong>:&nbsp;<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
We look forward to your participation in our upcoming events!<br />
<br />
Thanks </span></p>

<em style="color:rgb(34, 34, 34); font-family:arial,sans-serif; font-size:12.7272720336914px; line-height:normal">Copyright &copy; 2014 MIT Media Lab, All rights reserved.</em><span style="color:rgb(34, 34, 34); font-family:arial,sans-serif; font-size:12.7272720336914px; line-height:normal">&nbsp;</span><br style="color: rgb(96, 96, 96); font-family: Helvetica; font-size: 10.9090909957886px; line-height: 13.75px;" />
<br style="color: rgb(96, 96, 96); font-family: Helvetica; font-size: 10.9090909957886px; line-height: 13.75px;" />
<span style="color:rgb(96, 96, 96); font-family:helvetica; font-size:10.9090909957886px; line-height:13.75px">You are receiving this email, because you either signed up or participated in the Media Lab Unhangout events.&nbsp;</span><br style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.7272720336914px; line-height: normal;" />
<br style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.7272720336914px; line-height: normal;" />
<strong style="color:rgb(34, 34, 34); font-family:arial,sans-serif; font-size:12.7272720336914px; line-height:normal">Our mailing address is:</strong><span style="color:rgb(34, 34, 34); font-family:arial,sans-serif; font-size:12.7272720336914px; line-height:normal">&nbsp;</span>
<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.7272720336914px; line-height: normal;">MIT Media Lab
<div>
<div>77 Mass. Ave.</div>

<div>E14-445</div>
Cambridge,&nbsp;MA&nbsp;<a href="tel:02139-4307" style="color: rgb(17, 85, 204); word-wrap: break-word;" target="_blank" value="+4921394307">02139-4307</a><br />
&nbsp;</div>
</div>
<a class="utilityLink" href="*|UNSUB|*">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp; <a class="utilityLink" href="*|UPDATE_PROFILE|*">update subscription preferences</a>&nbsp;

<p>&nbsp;</p>
