<% include _header.ejs %>
<% include _navbar.ejs %>

<div class="container event-container">
      <h3 class="col-lg-12 upcomingEventsTitle" style="display:none;">Upcoming Events</h3> 
      <div id="upcomingEvents"></div> 
 
      <h3 class="col-lg-12 pastEventsTitle" style="display:none;">Past Events</h3> 
      <div id="pastEvents"></div>

</div>

<!-- Spreadsheet Importer JS Files -->
<script src="/public/js/spreadsheetimporter/miso.ds.deps.min.0.4.0.js"></script>
<script src="/public/js/spreadsheetimporter/dataset-template.js"></script>
<script src="/public/js/spreadsheetimporter/dataset.js"></script>
