<% include _header.ejs %>
<% include _navbar.ejs %>

<div class="container event-container">

    <div id="upcomingEvents"></div>
    <div id="pastEvents"></div>
    
</div>

<!-- Spreadsheet Importer JS Files -->
<script src="/public/js/spreadsheetimporter/miso.ds.deps.min.0.4.0.js"></script>
<script src="/public/js/spreadsheetimporter/dataset-template.js"></script>
<script src="/public/js/spreadsheetimporter/dataset.js"></script>