<% include _header.ejs %>
<% include _navbar.ejs %>

<div class="container faq-container" id="faq">
    
    <h3>FAQ</h3>
    
    <h3 class="faq-list-item"><a href="#request-account"> How do I request an Unhangout account? </a> </h3>

    <h3 class="faq-list-item"><a href="#how-to-documents">Are there guidelines or how-to documents?</a>
    </h3>

    <h3 class="faq-list-item"><a href="#record-unhangout">Is there a way to record my Unhangout event? </a></h3>

    <h3 class="faq-list-item"><a href="#multiple-event-administrators">Is it possible to have multiple administrators on one event? </a></h3>

    <h3 class="faq-list-item"><a href="#live-broadcast">Can I have more than one person do a live broadcast in the Unhangout lobby? </a> </h3>
    
    <h3 class="faq-list-item"> <a href="#45-second-delay"> 
    Why is there a ~45 second delay between my live Hangout on Air and the embedded version in the Unhangout lobby? 
    </a> </h3>

    <h3 class="faq-list-item"> 
    <a href="#embed-hangout-on-air"> Is it possible to embed a Hangout on Air that has been previously scheduled?
    </a>
    </h3>

    <h3 class="faq-list-item"> <a href="#multiple-event-urls">Is it possible to run multiple Unhangout events using the same URL?  
    </a></h3>

    <h3 class="faq-list-item"> <a href="#maximum-event-capacity">What’s the maximum number of people an Unhangout event can support? </a> </h3>

    <h3 class="faq-list-item"> <a href="#custom-installation"> I am interested in hosting a custom installation of Unhangout on my own servers. Is this possible? </a> </h3>

    <h3 class="faq-list-item"> <a href="#participate"> I am interested in getting a sense of what an Unhangout experience is like. How can I be a part of an event? </a> </h3> 
  
    <h3 class="faq-list-item"> <a href="#report-bug"> Where do I report a bug encountered on the Unhangout platform? </a> </h3> 

    <h3 class="faq-list-item"> <a href="#organizational-google-account"> Will I be able to use an organizational Google account to login to Unhangout? </a> </h3>

    <h3 class="faq-list-item"> 
    <a href="#avatar"> Where does Unhangout get my avatar image from?
    </a>
    </h3>

    <h3 class="faq-list-item"> <a href="#other-queries">My question isn’t answered here in the FAQ. Where can I ask it? </a> </h3> 

    <hr/>

    <a class="anchor" id="request-account"> </a>

   <h3 class="faq-question-title">  <a href="#request-account"> How do I request an Unhangout account? </a> </h3>

    <p> You can request an Unhangout account from our <a href="http://unhangout.media.mit.edu" target="_blank">homepage </a> (it typically takes a few days, but we have limited capacity and accounts). Once we’ve created your account, you’ll receive an email confirmation. When you login to the platform with your new account, you will be able to create an event from the <a href="http://unhangout.media.mit.edu" target="_blank">homepage </a>.  

    <a class="anchor" id="how-to-documents"> </a>

    <h3 class="faq-question-title"> <a href="#how-to-documents">Are there guidelines or how-to documents? </a> </h3>

    <p>
    Yes! We have guides for three types of users: participants, facilitators, and administrators. 
    
    <li>Our <a href="https://drive.google.com/file/d/0B9mSKns4oTmYTHR6d0FlamU1aDA/view" target="_blank">Participant Guide</a>, which will help you get ready to participate in an unhangout. </li>

    <li>Our <a href="https://drive.google.com/file/d/0BwLQ4yDc9gvoSWZPdGlYQTducUhvbUxxUnhCalRMRVZGMDlR/view" target="_blank"> Facilitator Guide</a> gives breakout room moderators some tips and tricks for facilitating discussions in an online environment. </li>
    
    <li> Our <a href="https://drive.google.com/file/d/0B9mSKns4oTmYVC1Jd3hnSFVRYXc/view" target="_blank">Administrator Guide </a> is designed to help new Admins get started running their own Unhangout event. </li>

    </p>
 
    <a class="anchor" id="record-unhangout"> </a>

    <h3 class="faq-question-title"> <a href="#record-unhangout"> Is there a way to record my Unhangout event? </a> </h3>

    <p>No. This is not a feature that we currently offer. However, the chat is always archived, and any Hangout on Air that is embedded in the lobby is automatically recorded and saved on the YouTube channel that was used to create it. Breakout rooms are Google Hangouts (not Hangouts on Air), which means that there is no automatic option for recording them. 
    </p>

    <a class="anchor" id="multiple-event-administrators"> </a>

    <h3 class="faq-question-title"> <a href="#multiple-event-administrators"> Is it possible to have multiple administrators on one event? </a>
    </h3>

    <p>Yes, we do support multiple administrators on one event. That said, having too many admins can get confusing when different people are trying to run the same event at the same time. To avoid this kind of confusion, we recommend that admins take time to coordinate with each other before an event begins. 
    <br/>
    You can have administrators added to your event by emailing us at <a href="mailto:unhangout@media.mit.edu">unhangout@media.mit.edu</a> with their name and the email address that is associated with their Unhangout account. We’ll make sure to follow up with them and grant them permissions.  </p>

    <a class="anchor" id="live-broadcast"> </a>

    <h3 class="faq-question-title"> <a href="#live-broadcast"> Can I have more than one person do a live broadcast in the Unhangout lobby?  </a> </h3>


    <p>Yes! When you create a live broadcast from the Unhangout lobby, it will open the Hangout on Air (HoA) application. After you have created your HoA, you will be able to invite up to 9 other people to participate in the live broadcast with you.
    </p>


    <a class="anchor" id="45-second-delay"> </a>

    <h3 class="faq-question-title"> <a href="#45-second-delay"> 
    Why is there a ~45 second delay between my live Hangout on Air and the embedded version in the Unhangout lobby? </a> </h3> 

    <p> This latency comes from server processing that happens on YouTube’s end. Unfortunately, it is not a problem that the Unhangout team can fix. </p>


    <a class="anchor" id="embed-hangout-on-air"> </a>

    <h3 class="faq-question-title"> <a href="#embed-hangout-on-air"> 
    Is it possible to embed a Hangout on Air that has been previously scheduled? 
    </a> </h3> 


    <p> Yes, it is possible. Every Hangout on Air has an associated YouTube link from which it is viewable. This YouTube link can be embedded in the Unhangout lobby. </p>


    <a class="anchor" id="multiple-event-urls"> </a>

    <h3 class="faq-question-title"> <a href="#multiple-event-urls"> Is it possible to run a series of Unhangout events from the same URL? </a> </h3>

    <p>Yes it is. If you are planning to run a series of related events, we recommend using the same event URL and simply updating the event’s information (e.g. date, time, etc.) for each subsequent event in the series. However, if you are looking to host an unhangout for an unrelated purpose, we recommend creating a new event. As an event administrator, you’ll have permissions to create as many events as you want on the Unhangout platform. 

    <a class="anchor" id="maximum-event-capacity"> </a>

    <h3 class="faq-question-title"> <a href="#maximum-event-capacity"> What’s the maximum number of people an Unhangout event can support? </a> </h3>

    <p>Currently, our servers can support Unhangout events with up to 300 participants. Once that limit is reached, we cannot guarantee server performance. When more than 300 people join an event, an overflow mechanism will directs people to a separate instance of the Unhangout, essentially partitioning large groups into 300 person chunks. However, we haven’t tested our overflow mechanism thoroughly, as most of our events have fewer than 300 participants. </p>

    <a class="anchor" id="custom-installation"> </a>

    <h3 class="faq-question-title"> <a href="#custom-installation"> I am interested in hosting a custom installation of Unhangout on my own servers. Is this possible? </a> </h3>

    <p>Yes, of course! Unhangout is an open source project. You can find the code in <a href="https://github.com/unhangout/unhangout/" target="_blank">our repository on Github </a>. Feel free to clone our repository and install it on your servers, but please keep in mind we’re a small research team with limited resources and we won’t be able to offer you too much help. </p>

    <a class="anchor" id="participate"> </a>

    <h3 class="faq-question-title"> <a href="#participate"> I am interested in getting a sense of what the Unhangout experience is like. How can I be a part of an event? </a> </h3>

    <p>Anyone can participate in any Unhangout event for free. Feel free to checkout the list of upcoming events on our <a href="http://unhangout.media.mit.edu" target="_blank">homepage</a>. If you see one that interests you, simply login to the platform and navigate to that event’s URL at the posted start time to participate.</p> 

    <a class="anchor" id="report-bug"> </a>

    <h3 class="faq-question-title"><a href="#report-bug"> Where do I report a bug encountered on the Unhangout platform? </a> </h3>

    <p>You can report any issues on our <a href="https://github.com/unhangout/unhangout/issues" target="_blank">Github account</a>. </p>

    <a class="anchor" id="organizational-google-account"> </a>

    <h3 class="faq-question-title"><a href="#organizational-google-account"> Will I be able to use an organizational Google account to login to Unhangout? </a> </h3>

    <p> You will be able to login to the Unhangout platform with an organizational Google account, but typically this will only give you access to the Unhangout lobby. The Unhangout breakout rooms, which are Google Hangouts, require a Google account with G+ activated, and most organizational Google accounts have this feature disabled. If you’re not sure whether or not your organizational Google account has G+ access, we recommend using a personal Google account with Unhangout or contacting your organization’s domain administrator. </p>

    <a class="anchor" id="avatar"> </a>

    <h3 class="faq-questions-title"> <a href="#avatar"> Where does Unhangout get my avatar 
    from? </a> </h3>

    <p> 
    Unhangout pulls your avatar image from the Google account that you used to login to the platform. If you would like to add or modify this image, you can do so by updating your Google+ profile image. 
    </p> 


    <a class="anchor" id="other-queries"> </a>

    <h3 class="faq-question-title"> <a href="#other-queries"> My question isn’t answered here in the FAQ. Where can I ask it? </a> </h3>

    <p>Feel free to post your question in the discussion thread below (and if you see a question you know the answer to, feel free to help each other out!). If your query doesn’t get answered here, email it to our team at <a href="mailto:unhangout@media.mit.edu">unhangout@media.mit.edu</a>. We’ll do our best to get back to you as soon as we can, but keep in mind, we are a very tiny research team. </p>

    </p>

    <br/>
    
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'unhangout-faq'; // Required - Replace '<example>' with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


</div>

<div class='col-lg-12 footer about-page-footer'>
    <div class="container">
        An MIT Media Lab project, in collaboration with the
        MacArthur Foundation.
    </div>
</div>

<%- requireScripts("/public/js/index.js") %>
<% include _analytics.ejs %>
<% include _footer.ejs %>
