<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Unhangout</title>
	<!-- <link rel="stylesheet" href="/public/css/bootstrap.css" type="text/css" media="screen"> -->
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.no-responsive.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	
	<link href="/public/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="//code.jquery.com/jquery-2.0.0.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.js"></script>
	<script type="text/javascript" src="/public/js/index.js"></script>
		
	<script type="text/javascript" charset="utf-8">
		// switch underscore templating to {{ }} so it doesn't conflict with ejs.
		_.templateSettings = {
		    interpolate : /\{\{=(.+?)\}\}/g,
			evaluate: /\{\{(.+?)\}\}/g
		};
	
		<% if(!_.isUndefined(user)) { %>
		var SOCK_KEY = '<%= user.getSockKey() %>';
		var USER_ID = '<%= user.id %>';
		<% } %>

		<% if(!_.isUndefined(event)) { %>
		var EVENT_ATTRS = <%- JSON.stringify(event.toClientJSON()) %>;
		<% } %>
	</script>	
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/about/">About</a></li>
						<li><a href="/how-to-unhangout/">How to Unhangout</a></li>
						<% if(user && user.isAdminOf(event)) { %>
							<li id="admin-nav"><a href="/admin/">Admin</a></li>
						<% } %>
                        <% if(user && user.isSuperuser()) { %>
                            <li id='admin-users-nav'><a href="/admin/users/">Users</a></li>
                        <% } %>
					</ul>
					<div class="nav pull-right identity">
					<% if(!user) {%>
					<a class="btn btn-primary pull-left" href="/auth/google">Login</a>
					<% } else { %>
						<div class="dropdown">
							<a class="dropdown-toggle username" data-toggle="dropdown" href="#"><%= user.get("displayName")%></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="/logout">Logout</a>
								</li>
							</ul>
						</div>
					<% } %>
					</div>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
