<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Unhangout</title>
	<link rel="stylesheet" href="/public/css/bootstrap.css" type="text/css" media="screen">
	<style>
	      body {
	        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	      }
			
		.identity {
			height: 40px;
		}
		
		 .username {
			display: block;
			font-size: 14px;
			color: #999;
			padding: 10px 15px 10px 15px;
			line-height: 20px;
		}
		
		.username:hover, .username:active, .username:visited {
			color: white;
			text-decoration: none;
		}		
	 </style>

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.js"></script>
	<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
	<script type="text/javascript" src="/public/js/app.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">Unhangout</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					<div class="nav pull-right identity">
					<% if(!user) {%>
					<a class="btn btn-primary pull-left" href="/auth/google">Login</a>
					<% } else { %>
						<div class="dropdown">
							<a class="dropdown-toggle username" data-toggle="dropdown" href="#"><%= user.get("displayName")%></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="/logout">Logout</a>
								</li>
							</ul>
						</div>
					<% } %>
					</div>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">