<div class="jumbotron">
	<h1><img class="" src="/public/img/unhangout-logo.png" width="77px" height="68px"> Unhangouts </h1>

	<h3>A platform for unconferences. On the web.</h3>

	<div class="create-event-button">
		<a href="#" target="_blank" class="btn btn-primary"> <i class="fa fa-edit fa-lg"></i>
		Create an Unhangout
		</a>
	</div>
</div>


