<% include header.ejs %>

<div class="container">
<h3 style="color: #444; font-weight: 400; font-size: 30px;">How To Unhangout</h3>

<br/><br/>

<div class="how-to-unhangout">

	<div class="circle">1</div>

	<img src="/public/img/registration.png" height="350">

	<h4> Registration setup </h4>

	<div class="step-description">

		<i class="step-icon icon-rss icon-4x"></i>

		<p>
			A registration page is set up by our team after an Unhangout event is scheduled. You will need to register for an event with your email address. 
		</p>
	</div>
</div>

<div class="how-to-unhangout">

	<div class="circle">2</div>

	<img src="/public/img/lobby.png" height="350">

	<h4> Kick-off webinar & related chat </h4>

	<div class="step-description">

	<i class="step-icon icon-group icon-4x"></i>

	<p> 
		Event begins in a lobby room with a webinar as a Google Hangout on Air with maximum of 10 people including one administrator and one facilitator. In this lobby interface organizers chat about their proposed sessions and particpants sign up for the event of their choice.
	</p>

	</div>

</div>

<div class="how-to-unhangout">

	<div class="circle">3</div>

	<img src="/public/img/join-hangout.png" height="350">

	<h4> Breakout sessions </h4> 

	<div class="step-description">

	<i class="step-icon icon-signin icon-4x"></i>

	<p> 
		After the session begins, you are prompted to join a hangout for which you have signed up. 
	</p>

	</div>

</div>

<div class="how-to-unhangout">

	<img src="/public/img/google-hangout-window.png" height="350">

	<div class="step-description">
		<i class="step-icon icon-facetime-video icon-4x"></i>

		<p> 
			When you pick a session, you are connected into a Google Hangout experience with other people who picked that session. 
		</p>

	</div>

</div>

<div class="how-to-unhangout">

	<img src="/public/img/join-session.png" height="350">

	<div class="step-description">

	<i class="step-icon icon-link icon-4x"></i>

	<p> 
		Once the sessions are live, sign up button changes to join button and you can jump in and jump out of any session as long as there is vacancy. 
	</p>

	</div>

</div>

<div class="how-to-unhangout">

	<div class="circle">4</div>

	<img src="/public/img/wrap-up.png" height="350">

	<h4> Wrap-up webinar and chat </h4> 

	<div class="step-description">

	<i class="step-icon icon-thumbs-up icon-4x"></i>

	<p> 
		After the sessions are over, administrator re-invite the participants and facilitators to assemble in the lobby area for a wrap up webinar, closing comments and for getting feedback on the experience overall.
	</p>

	</div>

</div>

<div class="footer">An MIT Media Lab project, in collaboration with the MacArthur Foundation.</div>

<% include footer.ejs %>