<% include _header.ejs %>
<% include _navbar.ejs %>

<div class="container how-to-container">
<h3 style="color: #444; font-weight: 400; font-size: 30px;">How To Unhangout</h3>

<div class="video-frame">
    <iframe src="//player.vimeo.com/video/90475288?title=0&amp;byline=0&amp;portrait=0" width="700" height="382" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <br/> <br/>
    <p>If you want to get a better feel for how to use the Unhangout platform, check out this short video.</p>
</div>

<hr/>

<div class="how-to-unhangout">

    <!--<div class="circle">1</div>-->

    <h4> Registration setup </h4>

    <div class="step-description">

        <i class="step-icon icon-edit icon-4x"></i>

        <p>
            It’s easy to get started. We will work with you to create the event page. And you can embed a sign-up form (using google forms for example) to collect email addresses from your participants.
        </p>
    </div>

     <img src="/public/img/how-to-unhangout/registration-400.png" alt='Registration process'>
</div>

<div class="how-to-unhangout">

    <!--<div class="circle">2</div>-->

    <h4> Kick-off webinar & related chat </h4>

    <div class="step-description">

    <i class="step-icon icon-group icon-4x"></i>

    <p>
        Each event starts in the lobby. If you are the organizer, you can embed a Google Hangout on Air to welcome the participants and let them know how the event will unfold. Participants can use the chat window to talk with each other or ask questions. During the kick-off webinar, the sessions on the left remains locked. (Pro tip: the avatars on the right keep track of who is actively looking at the page. If they go grey, the user is looking at another window).

    </p>

    </div>

    <img src="/public/img/how-to-unhangout/lobby-400.png" alt='Lobby screenshot'>

</div>

<div class="how-to-unhangout">
    <!--<div class="circle">3</div>-->

    <h4> Breakout sessions </h4>

    <div class="step-description">
        <i class="step-icon icon-facetime-video icon-4x"></i>

        <p>
            After the kick-off webinar is over, you are connected into a Google Hangout window for your break-out group. Think of this as a small satellite that circles around the lobby room. You can always go back to the lobby (don’t close the window).
        </p>

    </div>

    <img src="/public/img/how-to-unhangout/google-hangout-window-400.png" alt='Hangout screenshot'>

</div>

<div class="how-to-unhangout">

    <div class="step-description">
        <div class="breakout-step-description">

            <i class="step-icon icon-link icon-4x"></i>

            <p>
                Even if you didn’t reserve a spot before, you can now still join any group that has space. You can also jump from session to session (but remember, you can only ever be in one Google Hangout break-out window).
            </p>
        </div>

    </div>

    <div class="breakout-section">
        <img src="/public/img/how-to-unhangout/join-session-400.png" alt='Joining a session'>
    </div>
</div>


<div class="how-to-unhangout">

    <!--<div class="circle">4</div>-->

    <h4> Wrap-up webinar and chat </h4>

    <div class="step-description">

    <i class="step-icon icon-thumbs-up icon-4x"></i>

    <p>
        The event organizers call participants back to the lobby by sending a broadcast message into break out rooms. Typically there will be a short wrap-up, and users can leave comments and say their good-bye’s in the chat.
    </p>

    </div>

    <img src="/public/img/how-to-unhangout/wrap-up-400.png" alt='Wrapping up an event'>
</div>

<hr>

<% include _sponsorship.ejs %>
<%- requireScripts("/public/js/index.js") %>
<% include _analytics.ejs %>
<% include _footer.ejs %>
