<% include _header.ejs %>
<% include _navbar.ejs %>

<div class="container home-page-container">
    <div class="row">
        <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
            <div class="videowrapper well">
                <iframe src="https://player.vimeo.com/video/90475288?title=0&amp;byline=0&amp;portrait=0" height="300" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe> 
            </div>
            <!--<hr class="line-break">-->
        </div>

        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 logo-item">
                <div class="logo">
                    <img src="/public/img/unhangout-logo-blue-full.png">
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 project-about">
                <p>Unhangout is an open source platform for running large-scale, unconferences online. We use Google Hangouts to create as many small breakout sessions as needed, and help users find others with shared interests.
                </p>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 button-container-row">
                <div class="button-container">

                    <h3>Interested in running your own Unhangout?</h3>

                    <div class="create-event-button">
                        <% if (!user) { %>
                                <button id="login-first-button" class="btn btn-primary btn-lg" type="button">
                                <i class="fa fa-edit fa-lg"></i>
                                Request an Unhangout
                                </button>

                        <% } else { %>

                            <% if(user && user.hasPerm("createEvents")) { %>

                                <a href="/admin/event/new">
                                    <button id="create-event-button" class="btn btn-primary btn-lg" type="button">
                                        <i class="fa fa-edit fa-lg"></i>
                                        Create an Unhangout
                                    </button>
                                </a>

                            <% } else { %>
                                <button id="create-event-button" class="btn btn-primary btn-lg" type="button">
                                    <i class="fa fa-edit fa-lg"></i>
                                        Request an Unhangout
                                </button>

                        <% } } %>
                    </div>
                </div>
            </div>

            <!--<hr class="line-break">-->

        </div>  
    </div>

     <div class="row updates">

        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
            <h3 class='upcomingEventsTitle'>Upcoming Events</h3>
            <div id='upcomingEvents'><!-- populated from spreadsheet script --></div>
        </div>

        <!--<div class="col-lg-7">
            <h3>Reminders</h3>

            <p>Interested in email notifications for future Unhangout events? Leave your email below and we'll send you notices for upcoming events using the platform!</p>

            <div class="form-group reminders">
                <input class="form-control col-lg-12" id="email" type="email" placeholder="email address">
                <button class="btn btn-primary btn-subscribe" id="subscribe" type="button">Subscribe</button>
            </div>
        </div> -->

        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <a class="twitter-timeline" href="https://twitter.com/search?q=unhangout+" data-widget-id="506910601990270976">Tweets about "unhangout "</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>   
    </div>
</div>

<div class='col-lg-12 footer home-footer'>
    <div class="container">
        An MIT Media Lab project, in collaboration with the
        MacArthur Foundation.
    </div>
</div>

<!-- MODAL DIALOGS -->

<!-- prompt to log in first before creating event -->
<div class="modal fade event-mini-form" role="dialog" aria-hidden="true" id="login-first-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please log in! </h4>
            </div>

            <div class="modal-body">
                <p>You need to be logged in to create an event or join one. It’s easy. You can use your Google account and it only takes 0.83 seconds.</p>        
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss=
                "modal">Close</button>
                <a href="/auth/google/" class="btn btn-primary">Login to create an Unhangout</a>
            </div>

        </div>
    </div>
</div>

<!-- form for non-admins wishing to create an event -->
<div id="event-mini-form-modal" class="modal fade event-mini-form">
    <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
              <h4 class="modal-title">Tell us about your event!</h4>
          </div>

          <div class="modal-body">

              <form method="POST" id="contact-form" class="form-horizontal">

                  <p>Currently only admin users can create new Unhangouts. We are a teeny tiny team, but if you let us know what you have in mind, we’ll see if we can help you make it happen.<br/><br/></p>

                    <div class="form-group">
                        <label class="control-label col-lg-3" for="title">Event Title</label>

                        <div class="col-lg-9 event-title">
                        <input type="text" class="form-control" name="title" id="title">
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-lg-offset-3">

                            <div class="alert alert-danger alert-dismissible event-title-validate-error hide" role="alert">

                                <button type="button" class="close" data-dismiss="alert"><span class="sr-only">Close</span></button>
                                
                                Please enter at least 5 characters for event title

                            </div> 
                        </div> 
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-3" for="description">Event Description</label>

                        <div class="col-lg-9 event-description">
                            <textarea class="form-control" name="description" id="description" rows="4"></textarea>
                        </div>
                    </div>

                    
                    <div class="form-group">

                        <div class="col-lg-offset-3">

                            <div class="alert alert-danger alert-dismissible event-desc-validate-error hide" role="alert">

                                <button type="button" class="close" data-dismiss="alert"><span class="sr-only">Close</span></button>
                                
                                Please enter at least 100 characters for event description

                            </div> 
                        </div> 
                    </div>

                      <div class="modal-footer">
                          <button class="btn btn-default" data-dismiss=
                            "modal">Close</button>
                          <button type="submit" id="submit-button" class="btn btn-primary">Submit</button>
                      </div>

              </form>
            </div>
        </div>
    </div>
</div>

<!-- thank you for submitted non-admin form -->
<div class="modal fade event-mini-form" role="dialog" aria-hidden="true" id="session-submission-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thank you!!!</h4>
            </div>

            <div class="modal-body">
                <p>That’s all we need right now. We’ll be in touch very soon. </p>    
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- template for event listings on the front page -->
<script type='text/template' id='frontpage-events' data-spreadsheet-key='<%= spreadsheetKey %>'>
    <div class="mini-event-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 event-thumbnail">
            <img src="{{= image }}">
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
            <a href="{{= link }}" target="_blank"><h4>{{= title }}</h4> </a>
            <p>{{= date.format("MMM D, YYYY, h:mm a [GMT]Z") }}</p>
            <p class="lead">{{= description }}</p>
        </div>
    </div>
</script>

<%- requireScripts("/public/js/index.js") %>
<% include _analytics.ejs %>

<!-- Spreadsheet Importer JS Files -->
<!--
<script src="/public/js/spreadsheetimporter/miso.ds.deps.min.0.4.0.js"></script>
<script src="/public/js/spreadsheetimporter/dataset-template.js"></script>
<script src="/public/js/spreadsheetimporter/dataset.js"></script>
-->
