<% include _header.ejs %>
<% include _navbar.ejs %>

<div class="container event-container">
    <div class="row">

    <div class="col-md-3 event-box">
       
        <img src="/public/img/events/idc.jpg" class="img-responsive" style="width:370px; height: 200px;">
        <hr style="border: 2px solid #2e7daa; margin-left: -15px; margin-top: 0px; margin-right: -15px;">
        <h4>IDC 2014 Conference - Online Conference </h4>
        <p>Jun 11, 2014 9:00am EDT </p>
        
    </div>

    <div class="col-md-3 event-box">
        <div>
            <h4 class="project-gist-title">Digital Cloud Library</h4>
            <p class="project-gist-desc">An e-book lending solution that makes books accessible to people who don't have their own devices.</p>
        </div>
       
    </div>

    <div class="col-md-3 event-box">
        <div>
            <h4 class="project-gist-title">Multi GUI Solution for In-vehicle Infotainment</h4>
            <p class="project-gist-desc">A designer toolkit for rapid prototyping of applications for In-vehicle infotainment.</p>
        </div>
    </div>

    <div class="col-md-3 event-box">
        <div>
            <h4 class="project-gist-title">GCompris Braille</h4>
            <p class="project-gist-desc">Let kids explore a variety of interactive activities theming braille.</p>
        </div>
        
    </div>

    <div class="col-md-3 event-box">
        <div>
            <h4 class="project-gist-title">Digital Cloud Library</h4>
            <p class="project-gist-desc">An e-book lending solution that makes books accessible to people who don't have their own devices.</p>
        </div>
       
    </div>

    <div class="col-md-3 event-box">
        <div>
            <h4 class="project-gist-title">Multi GUI Solution for In-vehicle Infotainment</h4>
            <p class="project-gist-desc">A designer toolkit for rapid prototyping of applications for In-vehicle infotainment.</p>
        </div>
    </div>

</div>

