<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Unhangout</title>
	<link rel="stylesheet" href="/public/css/bootstrap.css" type="text/css" media="screen">

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.js"></script>
	
</head>
<body>
<h1>Hello World</h1>
<p>This is some text.</p>
</body>
</html>