<% include _header.ejs %>
<% include _navbar.ejs %>
<% var sessions; %>

<div class='container myevents-container'>
    
    <div>
        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-4">
            <h3>My Events</h3>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-8">
            <a class="btn btn-lg btn-primary" href="/admin/event/new" id="btn-create-new-event">Create an Unhangout</a>
        </div>

    </div>

    <div id='app'>
        <div id='main'></div>
    </div>


    <script type='text/template' id='event-table'>

        <table style='width: 100%;' class='event-table'>
            <tbody>
                <div class="col-xs-12 th-my-events">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 th-edit">
                        Edit
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-10 col-xs-9 th-title">
                        Title
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1 th-date">
                        Date 
                    </div>

                    <div class="col-lg-offset-0 col-lg-3 col-md-offset-0 col-md-3 col-sm-offset-1 col-sm-7 col-xs-offset-2 col-xs-4 th-admins">
                        Admins
                    </div>

                    <div class='col-lg-2 col-md-2 col-sm-4 col-xs-6 th-add-remove-admin'>
                        Add / Remove Admins
                    </div> 

                </div> 

                <div class="col-xs-12">
                    <hr class="th-hr">
                </div>

            
            </tbody> 
        </table>

    </script>

  
    <script type='text/template' id='event-row'>
       
        <div class='myevents-event-row col-xs-12'>
            
            <div class='edit-event col-lg-1 col-md-1 col-sm-1 col-xs-2'>
                <a href="/admin/event/{{- id }}">
                    <button class="btn btn-primary btn-edit-event"><i class="fa fa-pencil-square-o"></i></button>
                </a>
            </div>

            <div class='col-lg-4 col-md-4 col-sm-9 col-xs-7 event-title'>
                <h4>
                    <a href="/event/{{- id }}">
                        {{- title }} 
                    </a>
                </h4>

            </div>  

            <div class='col-lg-2 col-md-2 col-sm-2 col-xs-3 event-date'>
            </div>

            <div class="col-lg-offset-0 col-lg-4 col-md-offset-0 col-md-3 col-md-8 col-sm-offset-1 col-sm-9 col-xs-offset-2 col-xs-4 event-admins">
            </div>

            <div class='col-lg-1 col-md-1 col-sm-2 col-xs-3 add-remove-admin pull-right'>
                <button class="btn btn-success btn-add-admin"> <i class="fa fa-plus"></i> </i> </button> 

                <button class="btn btn-danger btn-remove-admin pull-right"> <i class="fa fa-minus"></i> </i> </button> 
            </div>

        </div>      

        <div class="col-xs-12">
            <hr class="td-hr">
        </div>

    </script>


    <% if (permalinkSessions) { %>

        <div class="permalink-sessions-container">
            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-4">
                <h3>My Permalink Sessions</h3>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-8">
                <a class="btn btn-lg btn-primary" href="/h/" id="btn-create-new-event">Create a Permalink</a>
            </div>

            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
                <% sessions = permalinkSessions; %>
                <% include _permalink_session_table.ejs %>
            </div>

        </div>
        
     <% } %>

    </div>

</div>

<script type='text/template' id='event-admin-adder'>
    <div class="modal-dialog event-admin-adder">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add an admin to <font color="#2e7daa">{{- event.get("title") }} </font> event</h4>
            </div>

            <div class="modal-body">
                <form class='form-horizontal' action>
            
                    <div class="form-group">
                    
                        <div class="col-lg-12">
                            <input class='filter-email form-control success' type='text' placeholder='Enter the email address of an admin' value="" />
                        </div>

                        <div class="col-lg-12 alert alert-info send-invite hide">
                            <p>We couldn't find a user with this email address in our directory. Would you like to send them an email invite?  
                            </p>

                            <button class="btn btn-primary btn-send-invite pull-right" data-dismiss="modal">Send Invite </button>
                        </div>

                    </div>

                    <div class="form-group">
                        <p class="email-validate-error hide"> Please enter a valid email </p>
                    </div>

                </form>

            </div>

            <div class='modal-footer'>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
                <button type="button" class="btn btn-primary add" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</script>


<script type='text/template' id='event-admin-remover'>
    <div class="modal-dialog event-admin-remover">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select admin(s) to remove from <font color="#2e7daa">{{- event.get("title") }} </font> event</h4>
            </div>

            <div class="modal-body">
                <form class='form-horizontal' action>
            
                    <div class="form-group">
                        <div class="col-lg-12 event-admins">
                        </div>

                        <div class="col-lg-12 alert alert-danger alert-confirm-removal hide">
                            <div class="col-lg-12 no-padding">
                                <p> </p>
                            </div>

                            <div class="col-lg-12 no-padding">

                                <div class="col-lg-offset-10 col-lg-3 no-padding btn-yes-no">

                                    <button class="btn btn-primary confirm-removal" data-dismiss="modal">Yes </button>

                                    <button class="btn btn-default close-alert">No </button>

                                </div>

                                <div class="col-lg-offset-11 col-lg-1 no-padding hide btn-ok">

                                    <button class="btn btn-primary btn-okay" data-dismiss="modal">Ok </button>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <p class="email-validate-error hide"> Please enter a valid email </p>
                    </div>

                </form>

            </div>

            <div class='modal-footer'>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
                <button type="button" class="btn btn-primary remove">Remove</button>
            </div>
        </div>
    </div>
</script>

<!-- Post invite send dialog -->
<div class="modal fade" role="dialog" aria-hidden="true" id="invite-sent-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Invitation Sent!</h4>
            </div>

            <div class="modal-body">
                <p>Your invite has been successfully sent!</p>    
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    var USER_DATA = <%- JSON.stringify(users) %>;
    var EVENT_DATA = <%- JSON.stringify(events) %>;
    var USER = <%- JSON.stringify(user) %>;
</script>

<%- requireScripts("/public/js/myevents.js") %>
<% include _footer.ejs %>
