<% include permalink-header.ejs %>

<div class="container">
<div class="alert">
We've switched to SSL throughout the unhangout site, to (hopefully) relieve some occasional issues with browsers sometimes blocking hangout application messages to our servers. Let me know at <a href="mailto:dharry@media.mit.edu">dharry@media.mit.edu</a> if this move to https causes you any issues! Thanks!
</div>

	<h1>Hangout Permalinks</h1>
	<h4>Make Hangouts into easily-reusable online meeting rooms.</h4>

	<p>Google Hangouts are great, but it can be tricky to figure out how to create a hangout and send a link around to people. There are some work arounds (<a href="https://support.google.com/calendar/answer/2690797?hl=en">this trick with Google Calendar</a> is particularly useful) but at the end of the day, Hangout just doesn't behave like a first class citizen of the web because its URLs are unreliable. Having a single URL makes it easy to make a habit of meeting in the same "place." Think of it like a conference call extension or even like a physical meeting room.</p>
	<p>This service creates a permalink for a Hangout - a single URL with a Join Hangout button that take anyone who clicks it to the same hangout. As an added bonus, you can see whether other people are already in the hangout before you join it.</p>
	<p>These Hangout Permalinks are super easy to create - just go to:
	<pre>http://unhangout.media.mit.edu/h/<i>anything-you-like</i></pre>

	That's it - your hangout permalink is created! Share it whenever and however you like!</p>

	<br>

	<form class="form-horizontal" id="permalink-create">
		<div class="control-group">
			<label class="control-label" for="permalink">http://unhangout.media.mit.edu/h/</label>
			<div class="controls">
				<input type="text" id="permalink-title" placeholder="permalink">
				<button class="btn btn-success" id="permalink-create-submit">CREATE</button>
			</div>
		</div>
	</form>


	<div class="footer">This service is part of the <a href="/"><b>Unhangout Project</b></a> from the MIT Media Lab and MacArthur Foundation. Source available at <a href="http://github.com/drewww/unhangout">Github</a>.</div>
</div>

<% include footer.ejs %>