<table border="0" cellpadding="0" cellspacing="0" width="650">
<tr>

<td align="left" valign="top" style="border: 30px solid #f2f2f2" >

	<div class="container email-template-body" style="padding-top: 10px; padding-left: 20px; padding-right: 20px; padding-bottom:10px;">

		<% include _post_event_followup_email-header.ejs %>
		<% include _post_event_followup_email-content.ejs %>
		<br />
		<% include _post_event_followup_email-footer.ejs %> 

	</div>

</td>
</tr>
</table>


