<option value="ACDT,Australian Central Daylight Time,UTC+10:30">ACDT,Australian Central Daylight Time,UTC+10:30</option>
<option value="ACST,Australian Central Standard Time,UTC+09:30">ACST,Australian Central Standard Time,UTC+09:30</option>
<option value="ACT,ASEAN Common Time,UTC+08">ACT,ASEAN Common Time,UTC+08</option>
<option value="ADT,Atlantic Daylight Time,UTC-03">ADT,Atlantic Daylight Time,UTC-03</option>
<option value="AEDT,Australian Eastern Daylight Time,UTC+11">AEDT,Australian Eastern Daylight Time,UTC+11</option>
<option value="AEST,Australian Eastern Standard Time,UTC+10">AEST,Australian Eastern Standard Time,UTC+10</option>
<option value="AFT,Afghanistan Time,UTC+04:30">AFT,Afghanistan Time,UTC+04:30</option>
<option value="AKDT,Alaska Daylight Time,UTC-08">AKDT,Alaska Daylight Time,UTC-08</option>
<option value="AKST,Alaska Standard Time,UTC-09">AKST,Alaska Standard Time,UTC-09</option>
<option value="AMST,Amazon Summer Time (Brazil)[1],UTC-03">AMST,Amazon Summer Time (Brazil)[1],UTC-03</option>
<option value="AMST,Armenia Summer Time,UTC+05">AMST,Armenia Summer Time,UTC+05</option>
<option value="AMT,Amazon Time (Brazil)[2],UTC-04">AMT,Amazon Time (Brazil)[2],UTC-04</option>
<option value="AMT,Armenia Time,UTC+04">AMT,Armenia Time,UTC+04</option>
<option value="ART,Argentina Time,UTC-03">ART,Argentina Time,UTC-03</option>
<option value="AST,Arabia Standard Time,UTC+03">AST,Arabia Standard Time,UTC+03</option>
<option value="AST,Atlantic Standard Time,UTC-04">AST,Atlantic Standard Time,UTC-04</option>
<option value="AWDT,Australian Western Daylight Time,UTC+09">AWDT,Australian Western Daylight Time,UTC+09</option>
<option value="AWST,Australian Western Standard Time,UTC+08">AWST,Australian Western Standard Time,UTC+08</option>
<option value="AZOST,Azores Standard Time,UTC-01">AZOST,Azores Standard Time,UTC-01</option>
<option value="AZT,Azerbaijan Time,UTC+04">AZT,Azerbaijan Time,UTC+04</option>
<option value="BDT,Brunei Time,UTC+08">BDT,Brunei Time,UTC+08</option>
<option value="BIOT,British Indian Ocean Time,UTC+06">BIOT,British Indian Ocean Time,UTC+06</option>
<option value="BIT,Baker Island Time,UTC-12">BIT,Baker Island Time,UTC-12</option>
<option value="BOT,Bolivia Time,UTC-04">BOT,Bolivia Time,UTC-04</option>
<option value="BRT,Brasilia Time,UTC-03">BRT,Brasilia Time,UTC-03</option>
<option value="BST,Bangladesh Standard Time,UTC+06">BST,Bangladesh Standard Time,UTC+06</option>
<option value="BST,British Summer Time (British Standard Time from Feb 1968 to Oct 1971),UTC+01">BST,British Summer Time (British Standard Time from Feb 1968 to Oct 1971),UTC+01</option>
<option value="BTT,Bhutan Time,UTC+06">BTT,Bhutan Time,UTC+06</option>
<option value="CAT,Central Africa Time,UTC+02">CAT,Central Africa Time,UTC+02</option>
<option value="CCT,Cocos Islands Time,UTC+06:30">CCT,Cocos Islands Time,UTC+06:30</option>
<option value="CDT,Central Daylight Time (North America),UTC-05">CDT,Central Daylight Time (North America),UTC-05</option>
<option value="CDT,Cuba Daylight Time[3],UTC-04">CDT,Cuba Daylight Time[3],UTC-04</option>
<option value="CEDT,Central European Daylight Time,UTC+02">CEDT,Central European Daylight Time,UTC+02</option>
<option value="CEST,Central European Summer Time (Cf. HAEC),UTC+02">CEST,Central European Summer Time (Cf. HAEC),UTC+02</option>
<option value="CET,Central European Time,UTC+01">CET,Central European Time,UTC+01</option>
<option value="CHADT,Chatham Daylight Time,UTC+13:45">CHADT,Chatham Daylight Time,UTC+13:45</option>
<option value="CHAST,Chatham Standard Time,UTC+12:45">CHAST,Chatham Standard Time,UTC+12:45</option>
<option value="CHOT,Choibalsan,UTC+08">CHOT,Choibalsan,UTC+08</option>
<option value="CHUT,Chuuk Time,UTC+10">CHUT,Chuuk Time,UTC+10</option>
<option value="CIST,Clipperton Island Standard Time,UTC-08">CIST,Clipperton Island Standard Time,UTC-08</option>
<option value="CIT,Central Indonesia Time,UTC+08">CIT,Central Indonesia Time,UTC+08</option>
<option value="CKT,Cook Island Time,UTC-10">CKT,Cook Island Time,UTC-10</option>
<option value="CLST,Chile Summer Time,UTC-03">CLST,Chile Summer Time,UTC-03</option>
<option value="CLT,Chile Standard Time,UTC-04">CLT,Chile Standard Time,UTC-04</option>
<option value="COST,Colombia Summer Time,UTC-04">COST,Colombia Summer Time,UTC-04</option>
<option value="COT,Colombia Time,UTC-05">COT,Colombia Time,UTC-05</option>
<option value="CST,Central Standard Time (Australia),UTC+09:30">CST,Central Standard Time (Australia),UTC+09:30</option>
<option value="CST,Central Standard Time (North America),UTC-06">CST,Central Standard Time (North America),UTC-06</option>
<option value="CST,Central Summer Time (Australia),UTC+10:30">CST,Central Summer Time (Australia),UTC+10:30</option>
<option value="CST,China Standard Time,UTC+08">CST,China Standard Time,UTC+08</option>
<option value="CST,Cuba Standard Time,UTC-05">CST,Cuba Standard Time,UTC-05</option>
<option value="CT,China time,UTC+08">CT,China time,UTC+08</option>
<option value="CVT,Cape Verde Time,UTC-01">CVT,Cape Verde Time,UTC-01</option>
<option value="CWST,Central Western Standard Time (Australia) unofficial,UTC+08:45">CWST,Central Western Standard Time (Australia) unofficial,UTC+08:45</option>
<option value="CXT,Christmas Island Time,UTC+07">CXT,Christmas Island Time,UTC+07</option>
<option value="ChST,Chamorro Standard Time,UTC+10">ChST,Chamorro Standard Time,UTC+10</option>
<option value="DAVT,Davis Time,UTC+07">DAVT,Davis Time,UTC+07</option>
<option value="DDUT,Dumont d'Urville Time,UTC+10">DDUT,Dumont d'Urville Time,UTC+10</option>
<option value="DFT,AIX specific equivalent of Central European Time[4],UTC+01">DFT,AIX specific equivalent of Central European Time[4],UTC+01</option>
<option value="EASST,Easter Island Standard Summer Time,UTC-05">EASST,Easter Island Standard Summer Time,UTC-05</option>
<option value="EAST,Easter Island Standard Time,UTC-06">EAST,Easter Island Standard Time,UTC-06</option>
<option value="EAT,East Africa Time,UTC+03">EAT,East Africa Time,UTC+03</option>
<option value="ECT,Eastern Caribbean Time (does not recognise DST),UTC-04">ECT,Eastern Caribbean Time (does not recognise DST),UTC-04</option>
<option value="ECT,Ecuador Time,UTC-05">ECT,Ecuador Time,UTC-05</option>
<option value="EDT,Eastern Daylight Time (North America),UTC-04">EDT,Eastern Daylight Time (North America),UTC-04</option>
<option value="EEDT,Eastern European Daylight Time,UTC+03">EEDT,Eastern European Daylight Time,UTC+03</option>
<option value="EEST,Eastern European Summer Time,UTC+03">EEST,Eastern European Summer Time,UTC+03</option>
<option value="EET,Eastern European Time,UTC+02">EET,Eastern European Time,UTC+02</option>
<option value="EGST,Eastern Greenland Summer Time,UTC+00">EGST,Eastern Greenland Summer Time,UTC+00</option>
<option value="EGT,Eastern Greenland Time,UTC-01">EGT,Eastern Greenland Time,UTC-01</option>
<option value="EIT,Eastern Indonesian Time,UTC+09">EIT,Eastern Indonesian Time,UTC+09</option>
<option value="EST,Eastern Standard Time (Australia),UTC+10">EST,Eastern Standard Time (Australia),UTC+10</option>
<option value="EST,Eastern Standard Time (North America),UTC-05">EST,Eastern Standard Time (North America),UTC-05</option>
<option value="FET,Further-eastern European Time,UTC+03">FET,Further-eastern European Time,UTC+03</option>
<option value="FJT,Fiji Time,UTC+12">FJT,Fiji Time,UTC+12</option>
<option value="FKST,Falkland Islands Standard Time,UTC-03">FKST,Falkland Islands Standard Time,UTC-03</option>
<option value="FKST,Falkland Islands Summer Time,UTC-03">FKST,Falkland Islands Summer Time,UTC-03</option>
<option value="FKT,Falkland Islands Time,UTC-04">FKT,Falkland Islands Time,UTC-04</option>
<option value="FNT,Fernando de Noronha Time,UTC-02">FNT,Fernando de Noronha Time,UTC-02</option>
<option value="GALT,Galapagos Time,UTC-06">GALT,Galapagos Time,UTC-06</option>
<option value="GAMT,Gambier Islands,UTC-09">GAMT,Gambier Islands,UTC-09</option>
<option value="GET,Georgia Standard Time,UTC+04">GET,Georgia Standard Time,UTC+04</option>
<option value="GFT,French Guiana Time,UTC-03">GFT,French Guiana Time,UTC-03</option>
<option value="GILT,Gilbert Island Time,UTC+12">GILT,Gilbert Island Time,UTC+12</option>
<option value="GIT,Gambier Island Time,UTC-09">GIT,Gambier Island Time,UTC-09</option>
<option value="GMT,Greenwich Mean Time,UTC">GMT,Greenwich Mean Time,UTC</option>
<option value="GST,Gulf Standard Time,UTC+04">GST,Gulf Standard Time,UTC+04</option>
<option value="GST,South Georgia and the South Sandwich Islands,UTC-02">GST,South Georgia and the South Sandwich Islands,UTC-02</option>
<option value="GYT,Guyana Time,UTC-04">GYT,Guyana Time,UTC-04</option>
<option value="HADT,Hawaii-Aleutian Daylight Time,UTC-09">HADT,Hawaii-Aleutian Daylight Time,UTC-09</option>
<option value="HAEC,Heure Avancée d'Europe Centrale francised name for CEST,UTC+02">HAEC,Heure Avancée d'Europe Centrale francised name for CEST,UTC+02</option>
<option value="HAST,Hawaii-Aleutian Standard Time,UTC-10">HAST,Hawaii-Aleutian Standard Time,UTC-10</option>
<option value="HKT,Hong Kong Time,UTC+08">HKT,Hong Kong Time,UTC+08</option>
<option value="HMT,Heard and McDonald Islands Time,UTC+05">HMT,Heard and McDonald Islands Time,UTC+05</option>
<option value="HOVT,Khovd Time,UTC+07">HOVT,Khovd Time,UTC+07</option>
<option value="HST,Hawaii Standard Time,UTC-10">HST,Hawaii Standard Time,UTC-10</option>
<option value="ICT,Indochina Time,UTC+07">ICT,Indochina Time,UTC+07</option>
<option value="IDT,Israel Daylight Time,UTC+03">IDT,Israel Daylight Time,UTC+03</option>
<option value="IOT,Indian Ocean Time,UTC+03">IOT,Indian Ocean Time,UTC+03</option>
<option value="IRDT,Iran Daylight Time,UTC+08">IRDT,Iran Daylight Time,UTC+08</option>
<option value="IRKT,Irkutsk Time,UTC+09">IRKT,Irkutsk Time,UTC+09</option>
<option value="IRST,Iran Standard Time,UTC+03:30">IRST,Iran Standard Time,UTC+03:30</option>
<option value="IST,Indian Standard Time,UTC+05:30">IST,Indian Standard Time,UTC+05:30</option>
<option value="IST,Irish Standard Time[5],UTC+01">IST,Irish Standard Time[5],UTC+01</option>
<option value="IST,Israel Standard Time,UTC+02">IST,Israel Standard Time,UTC+02</option>
<option value="JST,Japan Standard Time,UTC+09">JST,Japan Standard Time,UTC+09</option>
<option value="KGT,Kyrgyzstan time,UTC+06">KGT,Kyrgyzstan time,UTC+06</option>
<option value="KOST,Kosrae Time,UTC+11">KOST,Kosrae Time,UTC+11</option>
<option value="KRAT,Krasnoyarsk Time,UTC+07">KRAT,Krasnoyarsk Time,UTC+07</option>
<option value="KST,Korea Standard Time,UTC+09">KST,Korea Standard Time,UTC+09</option>
<option value="LHST,Lord Howe Standard Time,UTC+10:30">LHST,Lord Howe Standard Time,UTC+10:30</option>
<option value="LHST,Lord Howe Summer Time,UTC+11">LHST,Lord Howe Summer Time,UTC+11</option>
<option value="LINT,Line Islands Time,UTC+14">LINT,Line Islands Time,UTC+14</option>
<option value="MAGT,Magadan Time,UTC+12">MAGT,Magadan Time,UTC+12</option>
<option value="MART,Marquesas Islands Time,UTC-09:30">MART,Marquesas Islands Time,UTC-09:30</option>
<option value="MAWT,Mawson Station Time,UTC+05">MAWT,Mawson Station Time,UTC+05</option>
<option value="MDT,Mountain Daylight Time (North America),UTC-06">MDT,Mountain Daylight Time (North America),UTC-06</option>
<option value="MEST,Middle European Saving Time Same zone as CEST,UTC+02">MEST,Middle European Saving Time Same zone as CEST,UTC+02</option>
<option value="MET,Middle European Time Same zone as CET,UTC+01">MET,Middle European Time Same zone as CET,UTC+01</option>
<option value="MHT,Marshall Islands,UTC+12">MHT,Marshall Islands,UTC+12</option>
<option value="MIST,Macquarie Island Station Time,UTC+11">MIST,Macquarie Island Station Time,UTC+11</option>
<option value="MIT,Marquesas Islands Time,UTC-09:30">MIT,Marquesas Islands Time,UTC-09:30</option>
<option value="MMT,Myanmar Time,UTC+06:30">MMT,Myanmar Time,UTC+06:30</option>
<option value="MSK,Moscow Time,UTC+04">MSK,Moscow Time,UTC+04</option>
<option value="MST,Malaysia Standard Time,UTC+08">MST,Malaysia Standard Time,UTC+08</option>
<option value="MST,Mountain Standard Time (North America),UTC-07">MST,Mountain Standard Time (North America),UTC-07</option>
<option value="MST,Myanmar Standard Time,UTC+06:30">MST,Myanmar Standard Time,UTC+06:30</option>
<option value="MUT,Mauritius Time,UTC+04">MUT,Mauritius Time,UTC+04</option>
<option value="MVT,Maldives Time,UTC+05">MVT,Maldives Time,UTC+05</option>
<option value="MYT,Malaysia Time,UTC+08">MYT,Malaysia Time,UTC+08</option>
<option value="NCT,New Caledonia Time,UTC+11">NCT,New Caledonia Time,UTC+11</option>
<option value="NDT,Newfoundland Daylight Time,UTC-02:30">NDT,Newfoundland Daylight Time,UTC-02:30</option>
<option value="NFT,Norfolk Time,UTC+11:30">NFT,Norfolk Time,UTC+11:30</option>
<option value="NPT,Nepal Time,UTC+05:45">NPT,Nepal Time,UTC+05:45</option>
<option value="NST,Newfoundland Standard Time,UTC-03:30">NST,Newfoundland Standard Time,UTC-03:30</option>
<option value="NT,Newfoundland Time,UTC-03:30">NT,Newfoundland Time,UTC-03:30</option>
<option value="NUT,Niue Time,UTC-11">NUT,Niue Time,UTC-11</option>
<option value="NZDT,New Zealand Daylight Time,UTC+13">NZDT,New Zealand Daylight Time,UTC+13</option>
<option value="NZST,New Zealand Standard Time,UTC+12">NZST,New Zealand Standard Time,UTC+12</option>
<option value="OMST,Omsk Time,UTC+07">OMST,Omsk Time,UTC+07</option>
<option value="ORAT,Oral Time,UTC+05">ORAT,Oral Time,UTC+05</option>
<option value="PDT,Pacific Daylight Time (North America),UTC-07">PDT,Pacific Daylight Time (North America),UTC-07</option>
<option value="PET,Peru Time,UTC-05">PET,Peru Time,UTC-05</option>
<option value="PETT,Kamchatka Time,UTC+12">PETT,Kamchatka Time,UTC+12</option>
<option value="PGT,Papua New Guinea Time,UTC+10">PGT,Papua New Guinea Time,UTC+10</option>
<option value="PHOT,Phoenix Island Time,UTC+13">PHOT,Phoenix Island Time,UTC+13</option>
<option value="PHT,Philippine Time,UTC+08">PHT,Philippine Time,UTC+08</option>
<option value="PKT,Pakistan Standard Time,UTC+05">PKT,Pakistan Standard Time,UTC+05</option>
<option value="PMDT,Saint Pierre and Miquelon Daylight time,UTC-02">PMDT,Saint Pierre and Miquelon Daylight time,UTC-02</option>
<option value="PMST,Saint Pierre and Miquelon Standard Time,UTC-03">PMST,Saint Pierre and Miquelon Standard Time,UTC-03</option>
<option value="PONT,Pohnpei Standard Time,UTC+11">PONT,Pohnpei Standard Time,UTC+11</option>
<option value="PST,Pacific Standard Time (North America),UTC-08">PST,Pacific Standard Time (North America),UTC-08</option>
<option value="PYST,Paraguay Summer Time (South America)[6],UTC-03">PYST,Paraguay Summer Time (South America)[6],UTC-03</option>
<option value="PYT,Paraguay Time (South America)[7],UTC-04">PYT,Paraguay Time (South America)[7],UTC-04</option>
<option value="RET,Réunion Time,UTC+04">RET,Réunion Time,UTC+04</option>
<option value="ROTT,Rothera Research Station Time,UTC-03">ROTT,Rothera Research Station Time,UTC-03</option>
<option value="SAKT,Sakhalin Island time,UTC+11">SAKT,Sakhalin Island time,UTC+11</option>
<option value="SAMT,Samara Time,UTC+04">SAMT,Samara Time,UTC+04</option>
<option value="SAST,South African Standard Time,UTC+02">SAST,South African Standard Time,UTC+02</option>
<option value="SBT,Solomon Islands Time,UTC+11">SBT,Solomon Islands Time,UTC+11</option>
<option value="SCT,Seychelles Time,UTC+04">SCT,Seychelles Time,UTC+04</option>
<option value="SGT,Singapore Time,UTC+08">SGT,Singapore Time,UTC+08</option>
<option value="SLST,Sri Lanka Time,UTC+05:30">SLST,Sri Lanka Time,UTC+05:30</option>
<option value="SRT,Suriname Time,UTC-03">SRT,Suriname Time,UTC-03</option>
<option value="SST,Samoa Standard Time,UTC-11">SST,Samoa Standard Time,UTC-11</option>
<option value="SST,Singapore Standard Time,UTC+08">SST,Singapore Standard Time,UTC+08</option>
<option value="SYOT,Showa Station Time,UTC+03">SYOT,Showa Station Time,UTC+03</option>
<option value="TAHT,Tahiti Time,UTC-10">TAHT,Tahiti Time,UTC-10</option>
<option value="TFT,Indian/Kerguelen,UTC+05">TFT,Indian/Kerguelen,UTC+05</option>
<option value="THA,Thailand Standard Time,UTC+07">THA,Thailand Standard Time,UTC+07</option>
<option value="TJT,Tajikistan Time,UTC+05">TJT,Tajikistan Time,UTC+05</option>
<option value="TKT,Tokelau Time,UTC+13">TKT,Tokelau Time,UTC+13</option>
<option value="TLT,Timor Leste Time,UTC+09">TLT,Timor Leste Time,UTC+09</option>
<option value="TMT,Turkmenistan Time,UTC+05">TMT,Turkmenistan Time,UTC+05</option>
<option value="TOT,Tonga Time,UTC+13">TOT,Tonga Time,UTC+13</option>
<option value="TVT,Tuvalu Time,UTC+12">TVT,Tuvalu Time,UTC+12</option>
<option value="UCT,Coordinated Universal Time,UTC">UCT,Coordinated Universal Time,UTC</option>
<option value="ULAT,Ulaanbaatar Time,UTC+08">ULAT,Ulaanbaatar Time,UTC+08</option>
<option value="UTC,Coordinated Universal Time,UTC">UTC,Coordinated Universal Time,UTC</option>
<option value="UYST,Uruguay Summer Time,UTC-02">UYST,Uruguay Summer Time,UTC-02</option>
<option value="UYT,Uruguay Standard Time,UTC-03">UYT,Uruguay Standard Time,UTC-03</option>
<option value="UZT,Uzbekistan Time,UTC+05">UZT,Uzbekistan Time,UTC+05</option>
<option value="VET,Venezuelan Standard Time,UTC-04:30">VET,Venezuelan Standard Time,UTC-04:30</option>
<option value="VLAT,Vladivostok Time,UTC+10">VLAT,Vladivostok Time,UTC+10</option>
<option value="VOLT,Volgograd Time,UTC+04">VOLT,Volgograd Time,UTC+04</option>
<option value="VOST,Vostok Station Time,UTC+06">VOST,Vostok Station Time,UTC+06</option>
<option value="VUT,Vanuatu Time,UTC+11">VUT,Vanuatu Time,UTC+11</option>
<option value="WAKT,Wake Island Time,UTC+12">WAKT,Wake Island Time,UTC+12</option>
<option value="WAST,West Africa Summer Time,UTC+02">WAST,West Africa Summer Time,UTC+02</option>
<option value="WAT,West Africa Time,UTC+01">WAT,West Africa Time,UTC+01</option>
<option value="WEDT,Western European Daylight Time,UTC+01">WEDT,Western European Daylight Time,UTC+01</option>
<option value="WEST,Western European Summer Time,UTC+01">WEST,Western European Summer Time,UTC+01</option>
<option value="WET,Western European Time,UTC">WET,Western European Time,UTC</option>
<option value="WST,Western Standard Time,UTC+08">WST,Western Standard Time,UTC+08</option>
<option value="YAKT,Yakutsk Time,UTC+10">YAKT,Yakutsk Time,UTC+10</option>
<option value="YEKT,Yekaterinburg Time,UTC+06">YEKT,Yekaterinburg Time,UTC+06</option>
<option value="Z,Zulu Time (Coordinated Universal Time),UTC">Z,Zulu Time (Coordinated Universal Time),UTC</option>
