/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../../sass/screen.scss */
body {
  padding-top: 60px;
  /* 60px to make the container go all the way to the bottom of the topbar */
}

/* line 13, ../../sass/screen.scss */
.admin-header {
  width: 100%;
  height: 5px;
  background-color: orange;
  position: absolute;
  top: 0px;
  z-index: 2000;
}

/* line 23, ../../sass/screen.scss */
.fill {
  position: absolute;
  top: 40px;
  bottom: 0px;
  width: auto;
  height: auto;
}

/* line 33, ../../sass/screen.scss */
#app {
  position: absolute;
  top: 40px;
  bottom: 0px;
  width: 940px;
}

/* line 41, ../../sass/screen.scss */
#top {
  position: absolute;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-right: 30px;
  background-color: white;
  box-shadow: 1px 1px 1px #bbb;
  border: 1px solid #aaa;
  z-index: 50;
  width: 720px;
  max-height: 400px;
  overflow-y: scroll;
}

/* line 57, ../../sass/screen.scss */
#main-right {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin-left: 0px;
  padding-left: 10px;
  z-index: 10;
}

/* line 69, ../../sass/screen.scss */
#main-left {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid #aaa;
  box-shadow: 3px 3px 3px #aaa;
  z-index: 20;
}

/* line 81, ../../sass/screen.scss */
#main {
  /*	border: 1px solid purple;*/
  height: 100%;
  /*	background-color: #eee;*/
}

/* line 87, ../../sass/screen.scss */
#presence-gutter {
  width: 45px;
  position: absolute;
  top: 0px;
  padding: 5px;
  right: 0px;
  bottom: 0px;
  border-left: 1px solid #aaa;
  box-shadow: -3px 0px 3px #aaa;
  background-color: white;
}
/* line 96, ../../sass/screen.scss */
#presence-gutter ul {
  margin: 0px;
}
/* line 104, ../../sass/screen.scss */
#presence-gutter .tooltip-inner {
  white-space: nowrap;
}
/* line 108, ../../sass/screen.scss */
#presence-gutter .tooltip {
  left: -70px !important;
}

/* line 113, ../../sass/screen.scss */
.identity {
  height: 40px;
  width: 200px;
}
/* line 117, ../../sass/screen.scss */
.identity > div {
  float: right;
}
/* line 121, ../../sass/screen.scss */
.identity .admin-button:hover, .identity .admin-button:visited, .identity .admin-button:active {
  color: orange;
}

/* line 126, ../../sass/screen.scss */
.username, .admin-button {
  display: block;
  font-size: 14px;
  color: #999;
  padding: 10px 15px 10px 15px;
  line-height: 20px;
}
/* line 133, ../../sass/screen.scss */
.username:hover, .username:active, .username:visited, .admin-button:hover, .admin-button:active, .admin-button:visited {
  color: white;
  text-decoration: none;
}

/* line 139, ../../sass/screen.scss */
.user {
  width: 40px;
  height: 40px;
  /*margin: 5px;*/
  margin-top: 5px;
  border: 1px solid #c9c8c8;
  /*	border-radius: 25px;*/
  background-color: white;
  float: left;
  overflow: hidden;
}
/* line 155, ../../sass/screen.scss */
.user img {
  width: 40px;
  height: 40px;
}
/* line 160, ../../sass/screen.scss */
.user i {
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
}

/* line 170, ../../sass/screen.scss */
#session-list ul, #session-list li {
  margin: 0px;
}
/* line 174, ../../sass/screen.scss */
#session-list p {
  margin-left: 20px;
}
/* line 178, ../../sass/screen.scss */
#session-list .header {
  padding-right: 10px;
  margin-top: 10px;
  height: 140px;
  position: aboslute;
  top: 0px;
}
/* line 186, ../../sass/screen.scss */
#session-list .full-size-container {
  top: 175px;
}

/* line 191, ../../sass/screen.scss */
.session {
  background-color: #e6e7e6;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #2f3732;
  width: 200px;
  float: left;
  margin-left: 20px;
}
/* line 208, ../../sass/screen.scss */
.session .label {
  margin-left: 5px;
}
/* line 212, ../../sass/screen.scss */
.session h3 {
  background-color: #2f3732;
  color: white;
  margin: 0px;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 20px;
  padding: 10px 10px 5px 10px;
  right: 0px;
  left: 0px;
  /*height: 40px;*/
  min-height: 50px;
}
/* line 224, ../../sass/screen.scss */
.session h3 i {
  margin-right: 5px;
}
/* line 235, ../../sass/screen.scss */
.session .description {
  padding: 5px;
}
/* line 239, ../../sass/screen.scss */
.session .attend.btn {
  color: white;
  border-radius: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
}
/* line 247, ../../sass/screen.scss */
.session .empty {
  height: 40px;
  text-align: center;
  color: #aaa;
  font-style: italic;
  padding-top: 20px;
}
/* line 255, ../../sass/screen.scss */
.session .started {
  margin-left: 5px;
}
/* line 259, ../../sass/screen.scss */
.session .attending {
  height: 50px;
  padding: 5px;
}
/* line 263, ../../sass/screen.scss */
.session .attending .first {
  width: 50px;
  height: 50px;
  background-color: #c9c8c8;
  float: left;
}
/* line 270, ../../sass/screen.scss */
.session .attending .first .user {
  margin: 0px;
  width: 50px;
  height: 50px;
  border: 0px;
}
/* line 277, ../../sass/screen.scss */
.session .attending .first .user img, .session .attending .first .user i {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
/* line 283, ../../sass/screen.scss */
.session .attending .first .user i {
  margin-left: 5px;
}
/* line 290, ../../sass/screen.scss */
.session .attending .counter {
  background-color: #c9c8c8;
  width: 12px;
  height: 50px;
  margin-left: 5px;
  float: left;
}
/* line 299, ../../sass/screen.scss */
.session .attending .counter.selected {
  background-color: #2f3732;
}
/* line 304, ../../sass/screen.scss */
.session .attending .full {
  background-color: #F85863;
  color: white;
  float: left;
  width: 42px;
  height: 35px;
  padding-left: 8px;
  padding-top: 15px;
  margin-left: 5px;
}
/* line 318, ../../sass/screen.scss */
.session .admin {
  position: absolute;
}
/* line 321, ../../sass/screen.scss */
.session .admin .btn {
  border-radius: 0px;
}
/* line 326, ../../sass/screen.scss */
.session .outer {
  position: relative;
  z-index: 10000;
}
/* line 330, ../../sass/screen.scss */
.session .outer .attend-count {
  margin-left: 5px;
}
/* line 335, ../../sass/screen.scss */
.session .attendance {
  position: absolute;
  top: -1px;
  left: 0px;
  height: 30px;
  width: 50%;
  background-color: rgba(66, 94, 97, 0.5);
}

/* line 346, ../../sass/screen.scss */
.full-size-container {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  overflow: auto;
}

/* line 357, ../../sass/screen.scss */
#chat input {
  position: absolute;
  bottom: 0px;
  width: 370px;
}
/* line 364, ../../sass/screen.scss */
#chat #chat-container {
  padding-left: 5px;
  bottom: 40px;
  margin-left: 0px;
}
/* line 370, ../../sass/screen.scss */
#chat #chat-container #chat-list-container {
  overflow: auto;
  height: auto;
  width: auto;
  margin: 0px 0px 0px 0px;
}
/* line 377, ../../sass/screen.scss */
#chat #chat-container #chat-list-container .chat-message {
  padding-left: 120px;
}
/* line 381, ../../sass/screen.scss */
#chat #chat-container #chat-list-container .chat-message span.from {
  margin-left: -120px;
  float: left;
  display: block;
  font-weight: bold;
}

/* line 392, ../../sass/screen.scss */
#global {
  position: absolute;
  z-index: 1000;
}

/* line 397, ../../sass/screen.scss */
#video-embed {
  position: absolute;
  left: 700px;
  top: 350px;
  box-shadow: 3px 3px 5px #aaa;
}
/* line 404, ../../sass/screen.scss */
#video-embed .header {
  background-color: #bbb;
  cursor: move;
  padding: 5px;
}
/* line 409, ../../sass/screen.scss */
#video-embed .header .btn-group {
  float: right;
}
/* line 414, ../../sass/screen.scss */
#video-embed .player {
  background-color: #aaa;
}

/*---------------------------- INDEX STYLES ---------------------------*/
/* line 421, ../../sass/screen.scss */
.jumbotron {
  color: white;
  background-image: url("/public/img/dots.png");
  height: 200px;
  width: 100%;
  background-size: 1400px;
  margin-top: -20px;
}
/* line 430, ../../sass/screen.scss */
.jumbotron h1 {
  padding-top: 75px;
  margin-top: 0px;
}
/* line 435, ../../sass/screen.scss */
.jumbotron h1, .jumbotron h3 {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/* line 443, ../../sass/screen.scss */
.event .title, .event .description {
  float: left;
}
/* line 447, ../../sass/screen.scss */
.event .title {
  font-weight: bold;
  font-size: 1.6em;
}
/* line 452, ../../sass/screen.scss */
.event .description {
  width: 800px;
}
/* line 456, ../../sass/screen.scss */
.event .date {
  float: left;
  width: 100px;
  margin-right: 20px;
}
/* line 461, ../../sass/screen.scss */
.event .date .day, .event .date .time {
  text-align: center;
  background-color: #2f3732;
  color: white;
  padding: 3px;
}
/* line 468, ../../sass/screen.scss */
.event .date .number {
  box-sizing: border-box;
  color: #2f3732;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  height: 50px;
  padding-top: 15px;
  border-right: 1px solid #2f3732;
  border-left: 1px solid #2f3732;
}
/* line 481, ../../sass/screen.scss */
.event .date .time {
  background-color: #2f3732;
  color: white;
}

/* line 488, ../../sass/screen.scss */
.footer {
  margin-top: 50px;
  color: #aaa;
}
