/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../../sass/screen.scss */
body {
  padding-top: 60px;
  /* 60px to make the container go all the way to the bottom of the topbar */
}

/* line 14, ../../sass/screen.scss */
.admin-header {
  width: 100%;
  height: 5px;
  background-color: orange;
  position: absolute;
  top: 0px;
  z-index: 2000;
}

/* line 24, ../../sass/screen.scss */
.fill {
  position: absolute;
  top: 40px;
  bottom: 0px;
  width: auto;
  height: auto;
}

/* line 34, ../../sass/screen.scss */
#app {
  position: absolute;
  top: 40px;
  bottom: 0px;
  width: 940px;
}

/* line 42, ../../sass/screen.scss */
#top {
  position: absolute;
  background-color: white;
  box-shadow: 3px 3px 3px #aaa;
  border: 1px solid #aaa;
  box-sizing: border-box;
  z-index: 60;
  left: 0px;
  right: 0px;
  top: -400px;
  padding: 10px;
}

/* line 59, ../../sass/screen.scss */
#top-left {
  position: absolute;
  /*	padding-top: 30px;
  	padding-bottom: 60px;
  	padding-right: 30px;
  */
  /*top: -250px;*/
  background-color: white;
  /*box-shadow: 1px 1px 1px #bbb;*/
  /*border: 1px solid #aaa;*/
  z-index: -10;
  height: 210px;
  /*width: 720px;*/
  /*max-height: 400px;*/
  /*overflow-y: scroll;*/
  box-shadow: 3px -5px 3px #aaa;
  border-right: 1px solid #aaa;
  box-sizing: border-box;
}
/* line 83, ../../sass/screen.scss */
#top-left.bar {
  top: 40px;
}

/* line 88, ../../sass/screen.scss */
#main-right {
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;
  padding-left: 10px;
  z-index: 10;
  right: 20px;
  left: 440px;
  overflow: hidden;
}

/* line 108, ../../sass/screen.scss */
#main-left {
  position: absolute;
  box-sizing: border-box;
  border-right: 1px solid #aaa;
  box-shadow: 3px 3px 3px #aaa;
  z-index: 20;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}
/* line 123, ../../sass/screen.scss */
#main-left.bar {
  top: 40px;
}

/* line 129, ../../sass/screen.scss */
#main {
  /*	border: 1px solid purple;*/
  height: 100%;
  /*	background-color: #eee;*/
}

/* line 135, ../../sass/screen.scss */
#presence-gutter {
  width: 58px;
  position: absolute;
  top: 0px;
  padding: 5px;
  right: 0px;
  bottom: 0px;
  overflow-x: visible;
  border-left: 1px solid #aaa;
  box-shadow: -3px 0px 3px #aaa;
  background-color: white;
}
/* line 147, ../../sass/screen.scss */
#presence-gutter ul {
  margin: 0px;
}
/* line 163, ../../sass/screen.scss */
#presence-gutter #user-list {
  overflow-y: visible;
  overflow-x: visible;
}
/* line 168, ../../sass/screen.scss */
#presence-gutter .header {
  width: 100%;
  background-color: #2f3732;
  text-align: center;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 179, ../../sass/screen.scss */
#presence-gutter .header .icon-user {
  margin-left: 3px;
}
/* line 186, ../../sass/screen.scss */
#presence-gutter .pageUp, #presence-gutter .pageDown {
  background-color: #2f3732;
  color: white;
  width: 40px;
  text-align: center;
  border-radius: 5px;
  height: 15px;
  cursor: pointer;
}
/* line 196, ../../sass/screen.scss */
#presence-gutter .pageUp:hover, #presence-gutter .pageDown:hover {
  background-color: #47524b;
}
/* line 200, ../../sass/screen.scss */
#presence-gutter .pageUp:active, #presence-gutter .pageDown:active {
  background-color: #181c19;
}
/* line 205, ../../sass/screen.scss */
#presence-gutter .pageDown {
  position: absolute;
  bottom: 3px;
  clear: left;
  padding-top: -5px;
}
/* line 213, ../../sass/screen.scss */
#presence-gutter .pageDown i {
  position: relative;
  top: -5px;
}

/* line 221, ../../sass/screen.scss */
.nav li.active > a {
  background-color: #444 !important;
}
/* line 225, ../../sass/screen.scss */
.nav .circle {
  background-color: #da4f49;
  width: 6px;
  height: 12px;
  border-radius: 5px;
  margin-left: 5px;
  display: block;
  position: absolute;
  right: 5px;
  top: 14px;
}
/* line 238, ../../sass/screen.scss */
.nav .circle.hide {
  display: none;
}

/* line 244, ../../sass/screen.scss */
.identity {
  height: 40px;
  width: 200px;
}
/* line 248, ../../sass/screen.scss */
.identity > div {
  float: right;
}
/* line 252, ../../sass/screen.scss */
.identity .admin-button:hover, .identity .admin-button:visited, .identity .admin-button:active {
  color: orange;
}

/* line 257, ../../sass/screen.scss */
.username, .admin-button {
  display: block;
  font-size: 14px;
  color: #999;
  padding: 10px 15px 10px 15px;
  line-height: 20px;
}
/* line 264, ../../sass/screen.scss */
.username:hover, .username:active, .username:visited, .admin-button:hover, .admin-button:active, .admin-button:visited {
  color: white;
  text-decoration: none;
}

/* line 270, ../../sass/screen.scss */
.user {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  border: 1px solid #c9c8c8;
  box-sizing: border-box;
  background-color: white;
  float: left;
  overflow: hidden;
}
/* line 285, ../../sass/screen.scss */
.user.admin {
  border: 3px solid #c9c8c8;
  border-color: orange;
}
/* line 289, ../../sass/screen.scss */
.user.admin img {
  position: relative;
}
/* line 294, ../../sass/screen.scss */
.user.admin i {
  padding-left: 2px;
}
/* line 299, ../../sass/screen.scss */
.user img {
  width: 40px;
}
/* line 304, ../../sass/screen.scss */
.user i {
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
  display: block;
}
/* line 314, ../../sass/screen.scss */
.user.blur {
  opacity: 0.4;
}
/* line 318, ../../sass/screen.scss */
.user.focus {
  opacity: 1.0;
}

/* line 323, ../../sass/screen.scss */
#session-list {
  padding-top: 10px;
}
/* line 326, ../../sass/screen.scss */
#session-list ul, #session-list li {
  margin: 0px;
}
/* line 330, ../../sass/screen.scss */
#session-list p {
  margin-left: 20px;
}
/* line 334, ../../sass/screen.scss */
#session-list .full-size-container {
  top: 10px;
}
/* line 338, ../../sass/screen.scss */
#session-list .footer {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  width: 200px;
  clear: left;
}
/* line 347, ../../sass/screen.scss */
#session-list .footer div {
  float: left;
  color: black;
  padding: 5px;
}
/* line 352, ../../sass/screen.scss */
#session-list .footer div:hover {
  cursor: pointer;
  background-color: #ddd;
}
/* line 357, ../../sass/screen.scss */
#session-list .footer div.active {
  border: 1px solid #aaa;
}
/* line 361, ../../sass/screen.scss */
#session-list .footer div.page {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 369, ../../sass/screen.scss */
.session {
  position: relative;
  box-sizing: border-box;
  width: 430px;
  height: 40px;
  float: left;
  margin-left: 20px;
  padding: 5px;
}
/* line 384, ../../sass/screen.scss */
.session.hangout-connected {
  height: 80px;
}
/* line 387, ../../sass/screen.scss */
.session.hangout-connected .hangout-users {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  height: 40px;
  padding-left: 5px;
}
/* line 396, ../../sass/screen.scss */
.session.hangout-connected .hangout-users .user {
  float: left;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  list-style: none;
}
/* line 404, ../../sass/screen.scss */
.session.hangout-connected .hangout-users .user i {
  font-size: 26px;
  line-height: 30px;
}
/* line 418, ../../sass/screen.scss */
.session .label {
  margin-left: 5px;
}
/* line 422, ../../sass/screen.scss */
.session h3 {
  color: #2f3732;
  margin: 0px;
  font-weight: normal;
  font-size: 1.0em;
  line-height: 15px;
  left: 0px;
  height: 40px;
  width: 260px;
}
/* line 435, ../../sass/screen.scss */
.session h3 i {
  margin-right: 5px;
}
/* line 446, ../../sass/screen.scss */
.session .description {
  padding: 5px;
}
/* line 450, ../../sass/screen.scss */
.session .attend.btn {
  color: white;
  border-radius: 0px;
  position: absolute;
  top: 4px;
  right: 0px;
  height: 23px;
  width: 130px;
}
/* line 462, ../../sass/screen.scss */
.session .empty {
  height: 40px;
  text-align: center;
  color: #aaa;
  font-style: italic;
  padding-top: 20px;
}
/* line 470, ../../sass/screen.scss */
.session .started.label {
  margin-left: 5px;
}
/* line 475, ../../sass/screen.scss */
.session.live:nth-child(odd) {
  background-color: #ECFFF0;
}
/* line 480, ../../sass/screen.scss */
.session.live:nth-child(even) {
  background-color: #D5EBD9;
}
/* line 485, ../../sass/screen.scss */
.session:nth-child(odd) {
  background-color: #efefef;
}
/* line 490, ../../sass/screen.scss */
.session:nth-child(even) {
  background-color: white;
}
/* line 494, ../../sass/screen.scss */
.session .attending {
  height: 50px;
  padding: 5px;
  padding-top: 15px;
}
/* line 499, ../../sass/screen.scss */
.session .attending .first {
  width: 50px;
  height: 50px;
  background-color: #c9c8c8;
  float: left;
}
/* line 506, ../../sass/screen.scss */
.session .attending .first .user {
  margin: 0px;
  width: 50px;
  height: 50px;
  border: 0px;
}
/* line 513, ../../sass/screen.scss */
.session .attending .first .user img, .session .attending .first .user i {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
/* line 519, ../../sass/screen.scss */
.session .attending .first .user i {
  margin-left: 5px;
}
/* line 526, ../../sass/screen.scss */
.session .attending .counter {
  background-color: #c9c8c8;
  width: 12px;
  height: 50px;
  margin-left: 5px;
  float: left;
}
/* line 535, ../../sass/screen.scss */
.session .attending .counter.selected {
  background-color: #2f3732;
}
/* line 540, ../../sass/screen.scss */
.session .attending .full {
  background-color: #F85863;
  color: white;
  float: left;
  width: 42px;
  height: 35px;
  padding-left: 8px;
  padding-top: 15px;
  margin-left: 5px;
}
/* line 554, ../../sass/screen.scss */
.session .admin-buttons {
  position: absolute;
  right: 0px;
  top: 4px;
  height: 33px;
}
/* line 563, ../../sass/screen.scss */
.session .admin-buttons .btn {
  border-radius: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 15px;
}
/* line 574, ../../sass/screen.scss */
.session .admin-buttons .btn.delete {
  right: 15px;
}
/* line 580, ../../sass/screen.scss */
.session .outer {
  position: relative;
  z-index: 10000;
}
/* line 584, ../../sass/screen.scss */
.session .outer .attend-count {
  margin-left: 5px;
}
/* line 589, ../../sass/screen.scss */
.session .attendance {
  position: absolute;
  top: -1px;
  left: 0px;
  height: 32px;
  width: 50%;
  background-color: rgba(66, 94, 97, 0.5);
}

/* line 600, ../../sass/screen.scss */
.full-size-container {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
}

/* line 608, ../../sass/screen.scss */
#chat-input-region {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 55px;
  width: 370px;
  height: 35px;
  padding-left: 10px;
  background-color: whitesmoke;
}
/* line 621, ../../sass/screen.scss */
#chat-input-region input {
  width: 360px;
}

/* line 626, ../../sass/screen.scss */
#chat {
  overflow-y: hidden;
  overflow-x: visible;
}
/* line 631, ../../sass/screen.scss */
#chat #chat-container {
  padding-left: 5px;
  bottom: 40px;
  margin-left: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 75px;
  overflow-y: auto;
}
/* line 644, ../../sass/screen.scss */
#chat #chat-container #chat-list-container {
  height: auto;
  width: auto;
  margin: 0px 0px 45px 0px;
}
/* line 650, ../../sass/screen.scss */
#chat #chat-container #chat-list-container .chat-message {
  padding-left: 120px;
}
/* line 654, ../../sass/screen.scss */
#chat #chat-container #chat-list-container .chat-message.system {
  text-align: center;
  font-style: italic;
  padding-left: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
}
/* line 667, ../../sass/screen.scss */
#chat #chat-container #chat-list-container .chat-message.system .from {
  display: none;
}
/* line 672, ../../sass/screen.scss */
#chat #chat-container #chat-list-container .chat-message span.from {
  margin-left: -120px;
  float: left;
  display: block;
  font-weight: bold;
}
/* line 678, ../../sass/screen.scss */
#chat #chat-container #chat-list-container .chat-message span.from.admin {
  color: orange;
}

/* line 687, ../../sass/screen.scss */
#global {
  position: absolute;
  z-index: 1000;
}

/* line 692, ../../sass/screen.scss */
#video-embed {
  position: absolute;
  left: 0px;
  right: 0px;
  /*padding-top: 50px;*/
  /*box-shadow: 3px 3px 5px #aaa;*/
}
/* line 700, ../../sass/screen.scss */
#video-embed .player {
  background-color: #aaa;
  width: 100%;
}

/* line 706, ../../sass/screen.scss */
#bar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  background-color: #efefef;
  padding: 5px;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  z-index: 59;
  box-shadow: 3px 3px 3px #aaa;
}
/* line 724, ../../sass/screen.scss */
#bar #session-live-bar {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
/* line 729, ../../sass/screen.scss */
#bar #session-live-bar div {
  float: left;
  font-weight: bold;
  font-size: 1.6em;
  padding-top: 5px;
}
/* line 736, ../../sass/screen.scss */
#bar #session-live-bar .btn {
  float: left;
  margin-left: 15px;
}

/*---------------------------- ADMIN STYLES ---------------------------*/
/* line 749, ../../sass/screen.scss */
#events {
  float: left;
}

/* line 753, ../../sass/screen.scss */
#permalinks {
  float: left;
  margin-left: 50px;
}

/* line 758, ../../sass/screen.scss */
th {
  padding-right: 20px;
}

/* line 762, ../../sass/screen.scss */
tr:nth-child(even) {
  background-color: #f1f1f1;
}

/*---------------------------- INDEX STYLES ---------------------------*/
/* line 768, ../../sass/screen.scss */
.jumbotron {
  color: white;
  background-image: url("/public/img/dots.png");
  height: 200px;
  width: 100%;
  background-size: 1400px;
  margin-top: -20px;
  font-family: "open sans",arial,sans-serif;
}
/* line 777, ../../sass/screen.scss */
.jumbotron h1 {
  padding-top: 60px;
  margin-top: 0px;
  font-weight: 200;
  font-size: 36px;
}
/* line 784, ../../sass/screen.scss */
.jumbotron h1, .jumbotron h3 {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
/* line 790, ../../sass/screen.scss */
.jumbotron h3 {
  font-weight: 200;
  font-size: 20px;
}

/* line 796, ../../sass/screen.scss */
.event {
  margin-left: 20px;
  margin-top: 20px;
}
/* line 800, ../../sass/screen.scss */
.event .title, .event .description {
  float: left;
  color: #3c3c3c;
  font-family: "open sans",arial,sans-serif;
}
/* line 806, ../../sass/screen.scss */
.event .title {
  font-weight: 200;
  font-size: 20px;
}
/* line 811, ../../sass/screen.scss */
.event .description {
  margin-top: 20px;
  font-size: 16px;
  width: 780px;
}
/* line 818, ../../sass/screen.scss */
.event .date {
  float: left;
  width: 100px;
  margin-right: 20px;
}
/* line 823, ../../sass/screen.scss */
.event .date .day, .event .date .time {
  text-align: center;
  background-color: #2f3732;
  color: white;
  padding: 3px;
}
/* line 830, ../../sass/screen.scss */
.event .date .number {
  box-sizing: border-box;
  color: #2f3732;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  height: 50px;
  padding-top: 15px;
  border-right: 1px solid #2f3732;
  border-left: 1px solid #2f3732;
}
/* line 843, ../../sass/screen.scss */
.event .date .time {
  background-color: #2f3732;
  color: white;
}

/* line 851, ../../sass/screen.scss */
#about-event .footer {
  color: #ccc;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

/* line 862, ../../sass/screen.scss */
.admin-table-buttons .btn {
  float: left;
  margin-top: 5px;
}

/* line 868, ../../sass/screen.scss */
.event-container {
  margin-left: 0px;
}
/* line 871, ../../sass/screen.scss */
.event-container h3 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 26px;
  color: #444;
}

/* line 880, ../../sass/screen.scss */
.signup h3 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 26px;
  color: #444;
}
/* line 887, ../../sass/screen.scss */
.signup p {
  color: #3c3c3c;
  font-size: 16px;
  font-family: "open sans",arial,sans-serif;
}

/* line 894, ../../sass/screen.scss */
.footer {
  margin-top: 50px;
  color: #aaa;
}

/* line 900, ../../sass/screen.scss */
#permalink-create label {
  width: 250px;
}

/*-------------------------- HOW TO UNHANGOUT -------------------------*/
/* line 907, ../../sass/screen.scss */
.how-to-unhangout {
  color: #444;
  margin-left: 20px;
  height: 450px;
  font-family: "open sans",arial,sans-serif;
}
/* line 913, ../../sass/screen.scss */
.how-to-unhangout h4 {
  margin-top: 45px;
  margin-left: 600px;
  font-weight: 200;
  font-size: 22px;
}
/* line 920, ../../sass/screen.scss */
.how-to-unhangout img {
  margin-left: 70px;
  float: left;
  width: 500px;
  height: 433px;
}
/* line 927, ../../sass/screen.scss */
.how-to-unhangout p {
  font-size: 14px;
  float: right;
  width: 240px;
}
/* line 933, ../../sass/screen.scss */
.how-to-unhangout .step-description {
  float: right;
  width: 340px;
  margin-top: 30px;
}
/* line 939, ../../sass/screen.scss */
.how-to-unhangout .step-icon {
  color: #63666a;
  margin-left: 20px;
}

/* line 945, ../../sass/screen.scss */
.circle {
  margin-bottom: -52px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  font-size: 24px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: gray;
}

/*-------------------------- PERMALINKS -------------------------------*/
/* line 959, ../../sass/screen.scss */
.permalink-title {
  font-size: 34px;
  color: #3c3c3c;
}

/* line 964, ../../sass/screen.scss */
.permalink-description {
  font-size: 18px;
  color: #3c3c3c;
}

/* line 969, ../../sass/screen.scss */
.participants-header {
  font-size: 18px;
  color: #63666a;
}

/* line 974, ../../sass/screen.scss */
.hangout-status {
  float: right;
}
/* line 977, ../../sass/screen.scss */
.hangout-status .icon-facetime-video {
  color: #57AF57;
  font-size: 24px;
}
/* line 982, ../../sass/screen.scss */
.hangout-status .icon-remove-sign {
  color: #D34F3E;
  font-size: 24px;
}
/* line 987, ../../sass/screen.scss */
.hangout-status span {
  margin-left: 10px;
  font-size: 20px;
  color: #63666a;
}

/* line 994, ../../sass/screen.scss */
.line {
  margin-left: 280px;
  margin-right: 20px;
  margin-top: -10px;
  size: 2;
  border-top: 1px #DfDfDf solid;
}

/* line 1002, ../../sass/screen.scss */
.participant-info {
  margin-top: -40px;
}
/* line 1005, ../../sass/screen.scss */
.participant-info img {
  border: 1px #57AF57 solid;
  margin-right: 25px;
  margin-top: 40px;
  border-radius: 5px;
}
/* line 1012, ../../sass/screen.scss */
.participant-info .overlay {
  position: absolute;
  color: white;
  width: 102px;
  margin-top: 135px;
  margin-left: -131px;
  text-align: center;
  background-color: #57AF57;
  border-radius: 3px;
}

/* line 1024, ../../sass/screen.scss */
#permalinks {
  max-width: 685px;
}

/* line 1028, ../../sass/screen.scss */
td form {
  margin: 0px;
}
