$primary = #2F3732;
$background = #c9c8c8;
$background-light = #f5f5f5;

$navbar = #2E7DAA;
$navbar-li = #DBF2FD;
$navbar-li-bgcolor = #205877;
$event-links = $navbar;

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }

.btn-primary {
	background: $navbar;	
}

.navbar-inverse .navbar-inner
{
  // Use nib's linear-gradient expander to target all browsers.
  background-image: linear-gradient(top, $navbar, $navbar);
	border-color: $navbar;
}


.brand, .navbar-inverse .brand {
	color: #fff;
}

.admin-header {
	width: 100%;
	height: 5px;
	background-color: orange;
	
	position: absolute;
	top: 0px;
	z-index: 2000;
}

.fill {
	position: absolute;
	
	top: 40px;
	bottom: 0px;
	
	width: auto;
	height: auto;
}


#app {
	position: absolute;
	
	top: 40px;
	bottom: 0px;
	width: 940px;
}

#top {
	position: absolute;
	background-color: white;

	box-shadow: 3px 3px 3px #aaa;
	border: 1px solid #aaa;

	box-sizing: border-box;

	z-index: 60;
	left: 0px;
	right: 0px;
	top: -400px;

	padding: 10px;
}


#main-right {
	position: absolute;
	height: 100%;

	box-sizing: border-box;
	background-color: $background-light;
	padding-left: 10px;

	z-index: 10;

	right: 20px;
	left: 440px;

	// &.bar {
	// 	top: 40px;
	// }

	width: 550px;

	overflow: hidden;
}

#left {
	position: absolute;

	box-sizing: border-box;

	border-right: 1px solid #aaa;
	box-shadow: 3px 3px 3px #aaa;

	z-index: 20;

	bottom: 0px;
	top: 0px;

	overflow-y: auto;
  padding-bottom: 40px;
}

#main {
/*	border: 1px solid purple;*/
	height: 100%;
/*	background-color: #eee;*/
}

#presence-gutter {
	width: 150px;

	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;

	// overflow-y: scroll;
	// overflow-x: visible;

	ul {
		margin: 0px;
	}

	border-left: 1px solid #aaa;
	box-shadow: -3px 0px 3px #aaa;
	background-color: white;

	// .tooltip-inner {
	// 	white-space: nowrap;
	// }

	// .tooltip {
	// 	left: -70px !important;
	// }

	#user-list {
		padding-left: 5px;
	}

	.header {
		width: 150px;
		background-color: $primary;
		text-align: center;
		margin-left: -5px;
		// margin-right: -5px;
		// margin-top: -5px;

		color: white;
		font-weight: bold;

		.icon-user {
			margin-left: 3px;
		}

		margin-bottom: 5px;
	}


	#user-list-scroll-container {
		overflow-y: auto;

		position: absolute;
		bottom: 0px;
		left: 5px;
		right: 0px;
		top: 20px;
	}
}

.navbar .nav > li > a {
  	color: $navbar-li;
 }

.nav {
	li.active > a{
		background-color: $navbar-li-bgcolor !important;
	}

	.circle {
		background-color: #da4f49;
		width: 6px;
		height: 12px;
		border-radius: 5px;

		margin-right: 5px;

		display: block;
		position: absolute;
		right: 5px;
		top: 14px;

		&.hide {
			display: none;
		}
	}
}
	
.identity {
	height: 40px;

	& > div {
		float: right;
	}

	.admin-button:hover, .admin-button:visited, .admin-button:active {
		color: orange;
	}
}

.event-mini-form {
	width: 500px;
	overflow: hidden;

	.btn-primary {
		background: $navbar;
	}

	img, span {
		float: left;
	}

	span {
		margin-top: 10px;
		margin-left: 10px;
		font-size: 16px;
	}

	.modal-body {
		overflow: hidden;
	}

	.modal-footer {
		margin-bottom: -35px;
		margin-left: -15px;
		margin-right: -15px;
		height: 55px;
	}
}

.username, .admin-button {
	display: block;
	font-size: 14px;
	color: $navbar-li;
	padding: 10px 15px 10px 15px;
	line-height: 20px;
	
	&:hover, &:active, &:visited {
		color: white;
		text-decoration: none;
	}
}

.dropdown-menu>li>a {
	color: #333;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{
	text-decoration:none;
	color:#fff;
	background: $navbar;
}

.dropdown-menu > li.active > a {
    background: white !important;
    color: black !important;
}

.dropdown-menu > li.active > a:hover, .dropdown-menu > li.active > a:focus {
    background: $navbar !important;
    color: white !important;
}

.user {
	width: 40px;
	height: 40px;

	margin-top: 5px;
	margin-left: 5px;
	
	border: 1px solid $background;
	box-sizing: border-box;
	
	background-color: white;
	
	float: left;
	
	overflow: hidden;

	&.admin {
		border: 3px solid $background;
		border-color: orange;

		img {
			position: relative;
			// top: -3px;
		}

		i {
			padding-left: 2px;
		}
	}

	img {
		width: 40px;
		// height: 40px;
	}
	
	i {
		font-size: 40px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		padding-left: 5px;

		display: block;
	}

	&.blur {
		opacity: 0.4;
	}

	&.focus {
		opacity: 1.0;
	}
}

#session-list {	
	padding-top: 10px;

	ul {
		margin: 0px;
	}

	p {
		margin-left: 20px;
	}

	.full-size-container {
		top: 10px;
	}

	.footer {
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		width: 200px;

		clear: left;

		div {
			float: left;
			color: black;
				padding: 5px;

			&:hover {
				cursor: pointer;
				background-color: #ddd;
			}

			&.active {
				border: 1px solid #aaa;
			}

			&.page {
				margin-left: 5px;
				margin-right: 5px;
			}
		}
	}
}

.session {
	position: relative;

	box-sizing: border-box;
	

	width: 430px;
	height: 75px;

	overflow: hidden;

	&:hover {
		height: 75px;
	}

	.hangout-users, .hangout-offline {
		position: absolute;
		top: 40px;
		left: 0px;
		right: 0px;
		height: 40px;

		padding-left: 5px;

		.user, .empty {
			float: left;
			margin-right: 5px;
			width: 30px;
			height: 30px;

			list-style: none;
		}

		.empty {
			background-color: $background-light;
			padding-top: 0px;

			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
		}

		.user {
			margin-top: 0px;
			margin-left: 0px;
			&.admin {
				border: 2px solid orange;
				margin-right: 5px;
			}

			i {
				font-size: 26px;
				line-height: 30px;
			}
		}
	}

	.hangout-offline {
		text-align: center;
		color: $background;
		font-style: italic;
	}


	float: left;

	margin-left: 20px;

	padding: 5px;

	.label {
		margin-left: 5px;
	}

	h3 {
		// background-color: $primary;
		// color: white;
		color: $primary;
		margin: 0px;
		
		font-weight: normal;
		font-size: 1.0em;

		line-height: 15px;

		// padding: 10px 10px 5px 10px;
		
		i {
			margin-right: 5px;
		}
		
		left: 0px;
		
		height: 40px;

		width: 260px;
	}
	
	.description {
		padding: 5px;
	}
	
	.attend.btn {
		color: white;
		border-radius: 0px;
		
		position: absolute;
		top: 4px;
		right: 0px;

		height: 23px;

		width: 130px;

		.icon-lock {
			margin-right: 5px;
		}
	}
	.empty {
		height: 40px;
		text-align: center;
		color: #aaa;
		font-style: italic;
		padding-top: 20px;
	}

	.started.label {
		margin-left: 5px;
	}

	&.live {
		&:nth-child(odd) {
			background-color: #ECFFF0;

		}

		&:nth-child(even) {
			background-color: #D5EBD9;
		}
	}
	
	&:nth-child(odd) {
		background-color: #efefef;

	}

	&:nth-child(even) {
		background-color: white;
	}

	.attending {
		height: 50px;
		padding: 5px;
		padding-top: 15px;
		
		.first {
			width: 50px;
			height: 50px;
			background-color: $background;
			
			float: left;
			
			.user {
				margin: 0px;
				width: 50px;
				height: 50px;
				
				border: 0px;
				
				img, i {
					width: 50px;
					height: 50px;
					line-height: 50px;
				}
				
				i {
					margin-left: 5px;
				}
				
			}
		}
		
		.counter {
			background-color: $background;
			
			width: 12px;
			height: 50px;
			
			margin-left: 5px;
			float: left;
			
			&.selected {
				background-color: $primary;
			}
		}
		
		.full {
			background-color: #F85863;
			color: white;
			float: left;
			width: 42px;
			height: 35px;
			
			padding-left: 8px;
			padding-top: 15px;
			
			margin-left: 5px;
		}
	}
	
	.admin-buttons {
		position: absolute;


		right: 0px;
		top: 4px;

		height: 33px;
		
		.btn {
			border-radius: 0px;
			top: 0px;
			bottom: 0px;
			position: absolute;

			padding-left: 0px;
			padding-right: 0px;
			width: 15px;

			&.delete {
				right: 0px;
			}
		}
	}

	.outer {
		position: relative;
		z-index: 10000;

		.attend-count {
			margin-left: 5px;
		}
	}

	.attendance {
		position: absolute;
		top: -1px;
		left: 0px;
		height: 32px;
		width: 50%;
		background-color: rgba(66, 94, 97, 0.5);
	}
}

#chat-input-region {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 55px;

		width: 370px;
		height: 35px;

		padding-left: 10px;

		background-color: $background-light;

		input {
			width: 360px;
		}
}

#chat {
	overflow-y: hidden;
	overflow-x: visible;

	
	#chat-container {
		padding-left: 5px;

		bottom: 40px;
		margin-left: 0px;

		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 150px;
		overflow-y: auto;

		#chat-list-container {
			height: auto;
			width: auto;

			margin: 0px 0px 45px 0px;

			.chat-message {
        word-wrap: break-word;

				&.past {
					opacity: 0.3;
				}

				padding-left: 120px;

				&.system {
					text-align: center;
					font-style: italic;

					padding-left: 0px;
					padding-bottom: 10px;
					padding-top: 10px;

					margin-left: 20px;
					margin-right: 20px;
					margin-bottom: 20px;

					border-bottom: 1px solid #aaa;
					.from {
						display: none;
					}
				}

				span.from {
					margin-left: -120px;
					float: left;
					display: block;
					font-weight: bold;

					width: 115px;
					text-align: right;

					&.admin {
						color: orange;
					}
				}
			}
		}
	}
}

#global {
	position: absolute;
	z-index: 1000;
}

#video-embed .player {
  height: 360px;
  table {
    width: 100%;
    height: 100%;
  }
}

.sync-indicator {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #aaa;
  box-shadow: 0px 0px 5px rgba(200, 200, 200, 1);
  &.synced {
    background-color: #0f0;
    box-shadow: 0px 0px 5px rgba(0, 200, 0, 1);
  }
  &.unsynced {
    background-color: #f00;
    box-shadow: 0px 0px 5px rgba(200, 0, 0, 1);
  }
}

.fifty-fifty {
  width: 100%;
  box-sizing: border-box;
  .fifty {
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
}

.faux-hangout-notice {
  position: relative;
  background-color: #69f;
  color: white;
  font-size: 13px;
  line-height: 1.2em;
  font-family: "Arial",sans-serif;
  padding: 1em;
  border-radius: 5px;
  .close {
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}


/*---------------------------- ADMIN STYLES ---------------------------*/

table#permalinks, table#events {
  width: 100%;
}

th {
	padding-right: 20px;
}

tr:nth-child(even) {
	background-color: #f1f1f1;
}


/*---------------------------- INDEX STYLES ---------------------------*/
.jumbotron {
	color: $navbar;
	height: 120px;
	background-size: 1400px;
	margin-top: -20px;
	font-family: "open sans",arial,sans-serif;

	h1 {
		padding-top: 20px;
		margin-top: 0px;
		font-weight: 200;
		font-size: 32px;
	}

	h1,  h3{
		width: 940px;
		margin-left: auto;
		margin-right: auto;
	}

	h3 {
		font-weight: 200;
		font-size: 20px;
	}

	.create-event-button {
		margin-top: -100px;
		float: right;
	}

	.btn-primary {
		background: $navbar;
		padding: 17px 20px;
		font-size: 18px;
	}
}

.profile-thumbnail {
	margin-top: -5px;
	border-radius: 5px;
}

.event {
		margin-left: 20px;
		margin-top: 20px;

	.title, .description {
		float: left;
		color: #333;
		font-family: "open sans",arial,sans-serif;

		a {
			color: $event-links;
			text-decoration:none;
		}

		a:hover,a:focus {
			text-decoration:underline;
		}
	}

	.title {
		font-weight: 200;
		font-size: 20px;
	}

	.description {
		margin-top: 20px;
		font-size: 16px;
		width: 780px;
	}

	.date {
		float: left;
		width: 100px;
		margin-right: 20px;

		.day, .time {
			text-align: center;
			background-color: $primary;
			color: white;
			padding: 3px;
		}

		.number {
			box-sizing: border-box;

			color: $primary;
			font-size: 3em;
			font-weight: bold;
			text-align: center;
			height: 50px;
			padding-top: 15px;
			border-right: 1px solid $primary;
			border-left: 1px solid $primary;
		}

		.time {
			background-color: $primary;
			color: white;
		}
	}
}

#about-event {
	.footer {
		color: #ccc;
		width: 400px;
		margin-left: auto;
		margin-right: auto;

		font-style: italic;
	}
}

.admin-table-buttons {
	.btn {
		float: left;
		margin-top: 5px;
	}
}

.event-container {
	margin-left: 0px;

	h3 {
		margin-top: 20px;
		font-weight: 400;
		font-size: 26px;
		color: #444;
	}
}

.signup {
	h3 {
		margin-top: 20px;
		font-weight: 400;
		font-size: 26px;
		color: #444;
	}

	p {
		color: #3c3c3c;
		font-size: 16px;
		font-family: "open sans",arial,sans-serif;
	}

	.btn-primary {
		background: $navbar;
	}
}

.footer {
	margin-top: 50px;
	color: #aaa;
}

#permalink-create {
	label {
		width: 250px;
	}
}

.credits {
	position: fixed;
	bottom: 0px;
	z-index: 100000;
	background-color: white;
	width: 459px;
	text-align: center;
	font-size: 12px;
}

.empty-notice {
	width: 50%;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

/*-------------------------- HOW TO UNHANGOUT -------------------------*/

.how-to-unhangout {
	color: #444;
	margin-left: 20px;
	height: 450px;
	font-family: "open sans",arial,sans-serif;

	h4 {
		margin-top: 45px;
		margin-left: 600px;
		font-weight: 200;
		font-size: 22px;
	}
	
	img {
		margin-left: 70px;
		float: left;
		width: 500px;
		height: 433px;
	}

	p {
		font-size: 14px;
		float: right;
		width: 240px;
	}

	.step-description {
		float: right;
		width: 340px;
		margin-top: 30px;
	}

	.step-icon {
		color: #63666a;
		margin-left: 20px;
	}
}

.circle {
	margin-bottom: -52px;
    width: 40px;
    height: 40px;
    border-radius:40px;
    font-size:24px;
    color:#fff;
    line-height:40px;
    text-align:center;
    background: gray;
}

/* ------------------------- ABOUT PAGE -------------------------------*/
.about-container {
	h1, h3 {
		color: #444;
	}

	h1 {
		font-weight: 400;
		font-size: 26px;
	}

	h3 {
		font-weight: 400;
		font-size: 20px;
	}

	p, li {
		color: #333;
		font-family: "open sans",arial,sans-serif;

		a {
			color: $event-links;
			text-decoration:none;
		}

		a:hover,a:focus {
			text-decoration:underline;
		}
	}

}

/*-------------------------- PERMALINKS -------------------------------*/

.permalink-container {
	p {
		color: #333;
		font-family: "open sans",arial,sans-serif;

		a {
			color: $event-links;
			text-decoration:none;
		}

		a:hover,a:focus {
			text-decoration:underline;
		}
	}	

	.footer {
		a {
			color: $event-links;
			text-decoration:none;
		}

		a:hover,a:focus {
			text-decoration:underline;
		}
	}

	.btn-primary {
		background: $navbar;
	}
}

.permalink-title {
	font-size: 34px;
	color: #3c3c3c;
}

.permalink-description {
	font-size: 18px;
	color: #3c3c3c;
}

.participants-header {
	font-size: 18px;
	color: #63666a;
}

.hangout-status {
	float: right;

	.icon-facetime-video {
		color: #57AF57;
		font-size: 24px;
	}

	.icon-remove-sign {
		color: #D34F3E;
		font-size: 24px;
	}

	span {
		margin-left: 10px;
		font-size: 20px;
		color: #63666a;
	}
}

.line {
	margin-left: 280px;
	margin-right: 20px;
	margin-top: -10px;
	size: 2;
	border-top: 1px #DfDfDf solid;
}

.participant-info {
  position: relative;
  .participant {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    img {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border: 1px $navbar solid;
      border-radius: 5px;
    }
    .overlay {
      box-sizing: border-box;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100px;
      color: white;
      text-align: center;
      background-color: $navbar;
      border-radius: 0px 0px 3px 3px;
    }
  }


}

#permalinks {
	max-width: 685px;
}

td form {
	margin: 0px;
}


// This forces webkit browsers to show scroll bars whenever possible.
// per http://stackoverflow.com/questions/18317634/force-visible-scrollbar-in-firefox-on-mac-os-x
// not great, but it's something.
::-webkit-scrollbar {
   -webkit-appearance: none;
   width: 7px;
}

::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(0,0,0,.5);
   -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}



/* ---------------------EVENT FORM -------------------------*/

.event-form-container {
	margin-top: 30px;
	background: #FAFAFA;
    border-radius: 10px;
    border: solid #DfDFDf;
    border-width: 1px;
    
    .btn-primary {
    	background: $navbar;
    	width: 572px;
    }

    .control-label, span {
    	color: #999;
    }

    .container {
    	width: 573px;
    	margin-left: -0px; 
    }
}