/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../../sass/screen.scss */
body {
  padding-top: 60px;
  /* 60px to make the container go all the way to the bottom of the topbar */
}

/* line 13, ../../sass/screen.scss */
.admin-header {
  width: 100%;
  height: 5px;
  background-color: orange;
  position: absolute;
  top: 0px;
  z-index: 2000;
}

/* line 23, ../../sass/screen.scss */
.fill {
  position: absolute;
  top: 40px;
  bottom: 0px;
  width: auto;
  height: auto;
}

/* line 33, ../../sass/screen.scss */
#app {
  position: absolute;
  top: 40px;
  bottom: 0px;
}

/* line 42, ../../sass/screen.scss */
#top {
  position: absolute;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-right: 30px;
  background-color: white;
  box-shadow: 1px 1px 1px #bbb;
  border: 1px solid #aaa;
  z-index: 50;
}

/* line 54, ../../sass/screen.scss */
#main-right {
  /*	border: 1px solid green;*/
  height: 100%;
  background-color: #eeeeee;
}

/* line 60, ../../sass/screen.scss */
#main-left {
  height: 100%;
}

/* line 64, ../../sass/screen.scss */
#main {
  /*	border: 1px solid purple;*/
  height: 100%;
  /*	background-color: #eee;*/
}

/* line 71, ../../sass/screen.scss */
.identity {
  height: 40px;
}

/* line 75, ../../sass/screen.scss */
.username {
  display: block;
  font-size: 14px;
  color: #999;
  padding: 10px 15px 10px 15px;
  line-height: 20px;
}
/* line 82, ../../sass/screen.scss */
.username:hover, .username:active, .username:visited {
  color: white;
  text-decoration: none;
}

/* line 88, ../../sass/screen.scss */
.user {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid #c9c8c8;
  /*	border-radius: 25px;*/
  background-color: white;
  float: left;
  overflow: hidden;
}
/* line 102, ../../sass/screen.scss */
.user img {
  width: 40px;
  height: 40px;
}
/* line 107, ../../sass/screen.scss */
.user i {
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
}

/* line 117, ../../sass/screen.scss */
#session-list ul, #session-list li {
  margin: 0px;
}

/* line 122, ../../sass/screen.scss */
.session {
  background-color: #e6e7e6;
  position: relative;
}
/* line 126, ../../sass/screen.scss */
.session h3 {
  background-color: #3d594a;
  color: white;
  margin: 0px;
  font-weight: normal;
  font-size: 1.3em;
  padding: 0px 10px 0px 10px;
  position: absolute;
  right: 0px;
  left: 0px;
  height: 40px;
}
/* line 136, ../../sass/screen.scss */
.session h3 i {
  margin-right: 5px;
}
/* line 147, ../../sass/screen.scss */
.session .description {
  padding: 5px;
  margin-top: 40px;
}
/* line 152, ../../sass/screen.scss */
.session .attend.btn {
  color: white;
  border-radius: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
}
/* line 160, ../../sass/screen.scss */
.session .empty {
  height: 40px;
  text-align: center;
  color: #aaa;
  font-style: italic;
  padding-top: 20px;
}
/* line 168, ../../sass/screen.scss */
.session .attending {
  height: 50px;
  padding: 5px;
}
/* line 172, ../../sass/screen.scss */
.session .attending .first {
  width: 50px;
  height: 50px;
  background-color: #c9c8c8;
  float: left;
}
/* line 179, ../../sass/screen.scss */
.session .attending .first .user {
  margin: 0px;
  width: 50px;
  height: 50px;
  border: 0px;
}
/* line 186, ../../sass/screen.scss */
.session .attending .first .user img, .session .attending .first .user i {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
/* line 192, ../../sass/screen.scss */
.session .attending .first .user i {
  margin-left: 5px;
}
/* line 199, ../../sass/screen.scss */
.session .attending .counter {
  background-color: #c9c8c8;
  width: 12px;
  height: 50px;
  margin-left: 5px;
  float: left;
}
/* line 208, ../../sass/screen.scss */
.session .attending .counter.selected {
  background-color: #3d594a;
}
/* line 213, ../../sass/screen.scss */
.session .attending .full {
  background-color: #F85863;
  color: white;
  float: left;
  width: 42px;
  height: 35px;
  padding-left: 8px;
  padding-top: 15px;
  margin-left: 5px;
}
/* line 227, ../../sass/screen.scss */
.session .admin {
  position: absolute;
}
/* line 230, ../../sass/screen.scss */
.session .admin .btn {
  border-radius: 0px;
}

/* line 236, ../../sass/screen.scss */
#user-column {
  position: relative;
  height: 100%;
}
/* line 240, ../../sass/screen.scss */
#user-column #admin-controls {
  position: absolute;
  bottom: 20px;
  padding: 5px;
}

/* line 249, ../../sass/screen.scss */
#chat input {
  position: absolute;
  bottom: 0px;
}
/* line 254, ../../sass/screen.scss */
#chat #chat-container {
  bottom: 40px;
  top: 0px;
  left: 0px;
  right: 300px;
  position: absolute;
  overflow: auto;
}
/* line 265, ../../sass/screen.scss */
#chat #chat-container #chat-list-container {
  overflow: auto;
  height: auto;
  width: auto;
  margin: 0px 300px 0px 0px;
}
/* line 272, ../../sass/screen.scss */
#chat #chat-container #chat-list-container .chat-message {
  padding-left: 120px;
}
/* line 276, ../../sass/screen.scss */
#chat #chat-container #chat-list-container .chat-message span.from {
  margin-left: -120px;
  float: left;
  display: block;
  font-weight: bold;
}

/* line 287, ../../sass/screen.scss */
#global {
  position: absolute;
  z-index: 1000;
}

/* line 292, ../../sass/screen.scss */
#video-embed {
  position: absolute;
  left: 900px;
  top: 350px;
  box-shadow: 3px 3px 5px #aaa;
}
/* line 299, ../../sass/screen.scss */
#video-embed .header {
  background-color: #bbb;
  cursor: move;
  padding: 5px;
}
/* line 304, ../../sass/screen.scss */
#video-embed .header .btn-group {
  float: right;
}
/* line 309, ../../sass/screen.scss */
#video-embed .player {
  background-color: #aaa;
}
