/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../../sass/screen.scss */
body {
  padding-top: 60px;
  /* 60px to make the container go all the way to the bottom of the topbar */
}

/* line 13, ../../sass/screen.scss */
.admin-header {
  width: 100%;
  height: 5px;
  background-color: orange;
  position: absolute;
  top: 0px;
  z-index: 2000;
}

/* line 23, ../../sass/screen.scss */
.fill {
  position: absolute;
  top: 40px;
  bottom: 0px;
  width: auto;
  height: auto;
}

/* line 33, ../../sass/screen.scss */
#app {
  position: absolute;
  top: 40px;
  bottom: 0px;
  width: 940px;
}

/* line 41, ../../sass/screen.scss */
#top-left {
  position: absolute;
  /*	padding-top: 30px;
  	padding-bottom: 60px;
  	padding-right: 30px;
  */
  /*top: -250px;*/
  background-color: white;
  /*box-shadow: 1px 1px 1px #bbb;*/
  /*border: 1px solid #aaa;*/
  z-index: -10;
  height: 210px;
  /*width: 720px;*/
  /*max-height: 400px;*/
  /*overflow-y: scroll;*/
  box-shadow: 3px -5px 3px #aaa;
  border-right: 1px solid #aaa;
  box-sizing: border-box;
}

/* line 66, ../../sass/screen.scss */
#main-right {
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5;
  padding-left: 10px;
  z-index: 10;
  right: 20px;
  left: 440px;
}

/* line 81, ../../sass/screen.scss */
#main-left {
  position: absolute;
  box-sizing: border-box;
  border-right: 1px solid #aaa;
  box-shadow: 3px 3px 3px #aaa;
  z-index: 20;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}

/* line 97, ../../sass/screen.scss */
#main {
  /*	border: 1px solid purple;*/
  height: 100%;
  /*	background-color: #eee;*/
}

/* line 103, ../../sass/screen.scss */
#presence-gutter {
  width: 45px;
  position: absolute;
  top: 0px;
  padding: 5px;
  right: 0px;
  bottom: 0px;
  overflow-x: visible;
  border-left: 1px solid #aaa;
  box-shadow: -3px 0px 3px #aaa;
  background-color: white;
}
/* line 115, ../../sass/screen.scss */
#presence-gutter ul {
  margin: 0px;
}
/* line 123, ../../sass/screen.scss */
#presence-gutter .tooltip-inner {
  white-space: nowrap;
}
/* line 127, ../../sass/screen.scss */
#presence-gutter .tooltip {
  left: -70px !important;
}

/* line 133, ../../sass/screen.scss */
.nav li.active > a {
  background-color: #444 !important;
}

/* line 138, ../../sass/screen.scss */
.identity {
  height: 40px;
  width: 200px;
}
/* line 142, ../../sass/screen.scss */
.identity > div {
  float: right;
}
/* line 146, ../../sass/screen.scss */
.identity .admin-button:hover, .identity .admin-button:visited, .identity .admin-button:active {
  color: orange;
}

/* line 151, ../../sass/screen.scss */
.username, .admin-button {
  display: block;
  font-size: 14px;
  color: #999;
  padding: 10px 15px 10px 15px;
  line-height: 20px;
}
/* line 158, ../../sass/screen.scss */
.username:hover, .username:active, .username:visited, .admin-button:hover, .admin-button:active, .admin-button:visited {
  color: white;
  text-decoration: none;
}

/* line 164, ../../sass/screen.scss */
.user {
  width: 40px;
  height: 40px;
  /*margin: 5px;*/
  margin-top: 5px;
  border: 1px solid #c9c8c8;
  /*	border-radius: 25px;*/
  background-color: white;
  float: left;
  overflow: hidden;
}
/* line 180, ../../sass/screen.scss */
.user img {
  width: 40px;
  height: 40px;
}
/* line 185, ../../sass/screen.scss */
.user i {
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
}

/* line 194, ../../sass/screen.scss */
#session-list {
  padding-top: 10px;
}
/* line 197, ../../sass/screen.scss */
#session-list ul, #session-list li {
  margin: 0px;
}
/* line 201, ../../sass/screen.scss */
#session-list p {
  margin-left: 20px;
}
/* line 205, ../../sass/screen.scss */
#session-list .full-size-container {
  top: 10px;
}
/* line 209, ../../sass/screen.scss */
#session-list .footer {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  width: 200px;
}
/* line 216, ../../sass/screen.scss */
#session-list .footer div {
  float: left;
  color: black;
  padding: 5px;
}
/* line 221, ../../sass/screen.scss */
#session-list .footer div:hover {
  cursor: pointer;
  background-color: #ddd;
}
/* line 226, ../../sass/screen.scss */
#session-list .footer div.active {
  border: 1px solid #aaa;
}
/* line 230, ../../sass/screen.scss */
#session-list .footer div.page {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 238, ../../sass/screen.scss */
.session {
  background-color: #e6e7e6;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #2f3732;
  width: 200px;
  float: left;
  margin-left: 20px;
}
/* line 255, ../../sass/screen.scss */
.session .label {
  margin-left: 5px;
}
/* line 259, ../../sass/screen.scss */
.session h3 {
  background-color: #2f3732;
  color: white;
  margin: 0px;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 20px;
  padding: 10px 10px 5px 10px;
  right: 0px;
  left: 0px;
  /*height: 40px;*/
  min-height: 50px;
}
/* line 271, ../../sass/screen.scss */
.session h3 i {
  margin-right: 5px;
}
/* line 282, ../../sass/screen.scss */
.session .description {
  padding: 5px;
}
/* line 286, ../../sass/screen.scss */
.session .attend.btn {
  color: white;
  border-radius: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
}
/* line 294, ../../sass/screen.scss */
.session .empty {
  height: 40px;
  text-align: center;
  color: #aaa;
  font-style: italic;
  padding-top: 20px;
}
/* line 302, ../../sass/screen.scss */
.session .started {
  margin-left: 5px;
}
/* line 306, ../../sass/screen.scss */
.session .attending {
  height: 50px;
  padding: 5px;
}
/* line 310, ../../sass/screen.scss */
.session .attending .first {
  width: 50px;
  height: 50px;
  background-color: #c9c8c8;
  float: left;
}
/* line 317, ../../sass/screen.scss */
.session .attending .first .user {
  margin: 0px;
  width: 50px;
  height: 50px;
  border: 0px;
}
/* line 324, ../../sass/screen.scss */
.session .attending .first .user img, .session .attending .first .user i {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
/* line 330, ../../sass/screen.scss */
.session .attending .first .user i {
  margin-left: 5px;
}
/* line 337, ../../sass/screen.scss */
.session .attending .counter {
  background-color: #c9c8c8;
  width: 12px;
  height: 50px;
  margin-left: 5px;
  float: left;
}
/* line 346, ../../sass/screen.scss */
.session .attending .counter.selected {
  background-color: #2f3732;
}
/* line 351, ../../sass/screen.scss */
.session .attending .full {
  background-color: #F85863;
  color: white;
  float: left;
  width: 42px;
  height: 35px;
  padding-left: 8px;
  padding-top: 15px;
  margin-left: 5px;
}
/* line 365, ../../sass/screen.scss */
.session .admin {
  position: absolute;
}
/* line 368, ../../sass/screen.scss */
.session .admin .btn {
  border-radius: 0px;
}
/* line 373, ../../sass/screen.scss */
.session .outer {
  position: relative;
  z-index: 10000;
}
/* line 377, ../../sass/screen.scss */
.session .outer .attend-count {
  margin-left: 5px;
}
/* line 382, ../../sass/screen.scss */
.session .attendance {
  position: absolute;
  top: -1px;
  left: 0px;
  height: 30px;
  width: 50%;
  background-color: rgba(66, 94, 97, 0.5);
}

/* line 393, ../../sass/screen.scss */
.full-size-container {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
}

/* line 401, ../../sass/screen.scss */
#chat {
  overflow-y: hidden;
}
/* line 404, ../../sass/screen.scss */
#chat input {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 370px;
}
/* line 413, ../../sass/screen.scss */
#chat #chat-container {
  padding-left: 5px;
  bottom: 40px;
  margin-left: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 45px;
  overflow-y: scroll;
}
/* line 426, ../../sass/screen.scss */
#chat #chat-container #chat-list-container {
  height: auto;
  width: auto;
  margin: 0px 0px 0px 0px;
}
/* line 432, ../../sass/screen.scss */
#chat #chat-container #chat-list-container .chat-message {
  padding-left: 120px;
}
/* line 436, ../../sass/screen.scss */
#chat #chat-container #chat-list-container .chat-message span.from {
  margin-left: -120px;
  float: left;
  display: block;
  font-weight: bold;
}

/* line 447, ../../sass/screen.scss */
#global {
  position: absolute;
  z-index: 1000;
}

/* line 452, ../../sass/screen.scss */
#video-embed {
  position: absolute;
  left: 0px;
  right: 0px;
  /*padding-top: 50px;*/
  /*box-shadow: 3px 3px 5px #aaa;*/
}
/* line 460, ../../sass/screen.scss */
#video-embed .player {
  background-color: #aaa;
  width: 100%;
}

/*---------------------------- INDEX STYLES ---------------------------*/
/* line 468, ../../sass/screen.scss */
.jumbotron {
  color: white;
  background-image: url("/public/img/dots.png");
  height: 200px;
  width: 100%;
  background-size: 1400px;
  margin-top: -20px;
}
/* line 477, ../../sass/screen.scss */
.jumbotron h1 {
  padding-top: 75px;
  margin-top: 0px;
}
/* line 482, ../../sass/screen.scss */
.jumbotron h1, .jumbotron h3 {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/* line 490, ../../sass/screen.scss */
.event .title, .event .description {
  float: left;
}
/* line 494, ../../sass/screen.scss */
.event .title {
  font-weight: bold;
  font-size: 1.6em;
}
/* line 499, ../../sass/screen.scss */
.event .description {
  width: 800px;
}
/* line 503, ../../sass/screen.scss */
.event .date {
  float: left;
  width: 100px;
  margin-right: 20px;
}
/* line 508, ../../sass/screen.scss */
.event .date .day, .event .date .time {
  text-align: center;
  background-color: #2f3732;
  color: white;
  padding: 3px;
}
/* line 515, ../../sass/screen.scss */
.event .date .number {
  box-sizing: border-box;
  color: #2f3732;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  height: 50px;
  padding-top: 15px;
  border-right: 1px solid #2f3732;
  border-left: 1px solid #2f3732;
}
/* line 528, ../../sass/screen.scss */
.event .date .time {
  background-color: #2f3732;
  color: white;
}

/* line 535, ../../sass/screen.scss */
.footer {
  margin-top: 50px;
  color: #aaa;
}
